@font-face {
    src: url('fonts/RoslindaleVariable-VF[Deck].woff2') format("woff2"),
         url('fonts/RoslindaleVariable-VF[Deck].woff') format("woff");
    font-family: 'Roslindale Deck Web';
    font-style: normal;
    font-weight: 400 700;
}

@font-face {
     src: url('fonts/Roslindale-DeckNarrowItalic.woff2') format("woff2"),
          url('fonts/Roslindale-DeckNarrowItalic.woff') format("woff");
     font-family: 'Roslindale Deck Web';
     font-style: italic;
     font-weight: 400;
 }