@font-face {
    src: url('Klooster-Thin.woff2') format("woff2"),
         url('Klooster-Thin.woff') format("woff");
    font-family: 'Klooster Thin';
    font-style: normal;
    font-weight: normal;
    }
