#input-introduction ~ #section-introduction { display: none; }
#input-introduction:checked ~ #section-introduction { display: block; }


#section-introduction{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
}


#introduction {

    --intro-width: 80vw;
    --intro-height: 90vh;
    position: absolute;
    top: 0;
    left: 0;

    @include for-size(phone){
        --intro-width: 100vw;
        --intro-height: auto;
        position: relative;
    }

    background-color: var(--color-1);

    color: var(--color-2bis);
    overflow-y: scroll;
    padding: calc(var(--baseline)*4) calc(var(--unit)*2);

    @include for-size(2) {
        width: var(--intro-width);
        margin-left: calc((100vw - var(--intro-width))/2);
        height: var(--intro-height);
        margin-top: calc((100vh - var(--intro-height))/2);
        border: 1px solid var(--color-2bis);
    }

    @include for-size(1) {
        height: 100vh;
    }




    .container-introduction {
        max-width: 80ch;
        margin: 0 auto;
    }


    h1 {
        text-transform: uppercase;
        font-family: var(--font-title);
        font-weight: 400;
        letter-spacing: 1.5px;
        font-size: 1.6rem;
        margin-bottom: calc(var(--baseline)*0.25);
        // color: var(--color-6);
        padding-left: calc(var(--unit)*2);
        padding-right: calc(var(--unit)*2);
    }

    h2{
        font-weight: normal;
        font-size: 1.2em;
        margin-bottom: calc(var(--baseline)*3);
        // color: var(--color-6);
        padding-left: calc(var(--unit)*2);
        padding-right: calc(var(--unit)*2);
    }

    p {
        font-family: var(--font-title);
        font-size: 1.7rem;
        line-height: calc(var(--baseline)*1.6);
        margin-bottom: calc(var(--baseline)*0.8);

    }

    strong{
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: var(--font-labeur);
        font-size: 0.8em;
        font-weight: 600;
    }

    .break-intro{
        display: block;
        line-height: 0;
        padding-bottom: calc(var(--baseline)*0.8);
    }



    #introduction-close {
        position: fixed;
        font-size: 1.5rem;
        cursor: pointer;
        right: calc(calc((100vw - var(--intro-width))/2) + var(--unit)*1.5);
        top: calc((100vh - var(--intro-height))/2 + var(--baseline)*1.5);
        z-index: 999;

        background-color: var(--color-1);
            border: 1px solid currentColor;
            padding: 6px 9px;

     
        @include for-size(1) {
            font-size: 2rem;
            top: calc(var(--baseline)*2);
            right: calc(var(--baseline)*2);
            padding: 10px 11px;
        }

    }


    ul {
        list-style-type: none;

        li{
            margin-bottom: calc(var(--baseline)*2.4);
            p{
                margin-top: calc(var(--baseline)*-1);
                text-indent: 3ch;
                .alinea{
                    display: inline-block;
                    width: 3ch;
                }
            }
            &::before {
                content: "⇒ ";
                display: inline;
                font-size: 1.4em;
                position: relative;
                top: 9px;
            }
        }
    }


    nav ul {
        margin-top: calc(var(--baseline)*3);
        list-style-type: none;

        li {
            padding-left: var(--unit);
            font-size: 1.3rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            line-height: 2rem;
            color: var(--color-2bis);
            padding-bottom: 7px;
            margin-bottom: 0;

            a {
                text-decoration: none;
                color: currentColor;
            }

            label {
                cursor: pointer;
            }

            &::before {
                content: "⇒ ";
                font-size: 1em;
                top: 0px;
            }

            &:hover {
                transform: translate(calc(var(--space)*0.75));
                transition: transform cubic-bezier(1, 0, 0, 1) 0.5s;
            }

        }
    }


    @media screen and (max-width: 560px) {
        h1 {
            text-align: left;
            margin-bottom: calc(var(--baseline)*1.5);

        }

        p {
            font-size: 1.4rem;
            line-height: 1.6em;
            margin-bottom: 1.6em;
        }

        ul {
            margin-top: calc(var(--baseline)*2);
        }

        ul li {
            padding-left: 0;
            margin-top: calc(var(--baseline)*0.5);
        }

    }

    /* FOOTNOTES -------------------------------------------------- */


    .footnote-container{

        margin-top: calc(var(--baseline)*4);
        // max-width: 600px;
        p{
            font-family: var(--font-labeur);
            font-size: 22px;
            line-height: calc(22px*1.6);
            padding-left: calc(var(--unit)*1.5);
        }

        &::before{
            margin-bottom: calc(var(--baseline)*1.5)
        }

        a{
            color: currentColor;
            text-decoration: none;
            border-bottom: 1px dotted currentColor;
            &:hover{
                opacity: .4;
            }
        }
    }

    .fnt-call,
    .ftn-marker {
        letter-spacing: -0.2px;

        &::before {
            content: "|";
            padding-right: 1px;
        }

        &::after {
            content: "|";
            padding-left: 1px;
        }
    }


    .fnt-call {
        font-family: var(--font-labeur);
        font-style: normal;
        color: currentColor;
        font-size: 0.7em;
        position: relative;
        top: -0.4em;
        text-decoration: none;
        padding-left: 5px;
        border-bottom: none;

        &:hover {
            opacity: 0.4;
        }

    }

    hr {
        border: none;
    }





}