#page-titre {
    background-color: var(--color-2);
    min-width: 100vw;
    min-height: 100vh;
    --delay: 0.1s; 
    overflow: hidden;

    h1 {

        margin-left: var(--margin-left);
        font-family: var(--font-title);
        line-height: 1.2em;
        font-weight: normal;
        text-transform: uppercase;

    }

    h2 {

        font-family: var(--font-title);
        letter-spacing: 1px;
        font-weight: 500;
       
    }

    nav ul {
        position: relative;
        top: 2px;
        width: 100%;

        @include for-size(4) {
            display: flex;
        }

        list-style-type: none;

        li {
           


            text-transform: uppercase;
            letter-spacing: 2px;
            line-height: 2rem;
            color: var(--color-2bis);

            

            a,
            label {
                text-decoration: none;
                color: currentColor;

                &::before {
                    content: "⇒ "
                }

                &:hover {
                    margin-left: var(--unit);
                    transition: margin-left cubic-bezier(1, 0, 0, 1) 0.5s !important;
                }
            }

            label {
                cursor: pointer;
            }




        }

    }

    aside{
        p {
            font-weight: normal;
            font-size: 1rem;
            line-height: calc(var(--baseline)*0.75);
            color: var(--color-3bis);
        }

        img {
            width: 180px;
            height: auto;
            mix-blend-mode: color-burn;
            left: -10px;
            top: 13px;
        }
    }
}


/* DESKTOP ----------------------------------------- */
#page-titre {

    @include for-size(2) {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        --margin-left: calc(var(--unit)*2);

        --translate-1: -2;
        --translate-2: 6;
        --translate-3: 2;
        --translate-4: -3;
        --translate-5: 2;
        --translate-6: 1;
    }

    h1 {


        @include for-size(2) {
            margin-top: calc(var(--baseline)*1 + 16px);
            font-size: 148px;
        }

        @include for-size(3) {
            margin-top: calc(var(--baseline)*3 + 6px);
            font-size: 186px;
        }

        @include for-size(4) {
            margin-top: calc(var(--baseline)*4 - 4px);
            font-size: 220px;
        }

        @include for-size(5) {
            margin-top: calc(var(--baseline)*5 + 2px);
            font-size: 300px;
            // left: -10px;
        }

        @include for-size(6) {
            margin-top: calc(var(--baseline)*6 - 2px);
            font-size: 360px;
        }

    }


    #grid-header {

        --sub-grid: 6;
        --row-1: calc(var(--baseline)*9);

        @include for-size(2) {
            --row-1: calc(var(--baseline)*9);
        }

        @include for-size(3) {
            --row-1: calc(var(--baseline)*12);
        }

        @include for-size(4) {
            --row-1: calc(var(--baseline)*14);
        }

        @include for-size(5) {
            --row-1: calc(var(--baseline)*18);
        }

        @include for-size(6) {
            --row-1: calc(var(--baseline)*22);
        }


        @include for-size(2) {

            width: 1000vw;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            display: grid;
            grid-template-columns: repeat(6, var(--width-article));
            grid-template-rows: var(--row-1) calc(100vh - var(--row-1));


            .elem {
                grid-row: 1/end;
                grid-column: 1/2;
                width: 100%;
                height: 100%;
                border-right: 1px solid var(--color-3bis);

                opacity: 0.4;
            }

            .elem1 {
                grid-column: 1/2;
            }

            .elem2 {
                grid-column: 2/3;
            }

            .elem3 {
                grid-column: 3/4;
            }

            .elem4 {
                grid-column: 4/5;
            }

            .elem5 {
                grid-column: 5/6;
            }

            .elem6 {
                grid-column: 6/7;
            }

        }



        h2 {

            @include for-size(2) {

                font-size: 32px;
                letter-spacing: 1px;
                line-height: calc(var(--baseline)*1.5);
                position: relative;
                top: -5px;
                padding-left: var(--margin-left);

                grid-column: 1/2;
                grid-row: 2/end;

                animation: 1s var(--delay) header;
                animation-fill-mode: forwards;


                span {
                    display: block;
                }


                span:nth-of-type(2),
                span:nth-of-type(4),
                span:nth-of-type(5) {
                    margin-left: calc(var(--unit)*2);
                }

                span:nth-of-type(5) {
                    margin-left: calc(var(--unit)*1);
                }

            }

            @include for-size(6) {
                font-size: 40px;
                line-height: calc(var(--baseline)*2);
                top: -14px;
                padding-left: calc(var(--margin-left) + 9px);
            }


           


        }

        nav {


            @include for-size(2) {
                grid-column: 2/3;
                align-self: flex-end;
                margin-bottom: calc(var(--baseline)*6.5);
                @include for-size("pad-landscape") {
                    margin-bottom: calc(var(--baseline)*7.5);
                }
                grid-row: 2;
                ul { 
                    transition: bottom cubic-bezier(1, 0, 0, 1) 1s;
    
                    li{
                        display: inline-block;
                        width: var(--width-article);
                        padding-left: var(--unit);
                        font-size: 1.3rem;
                        padding-bottom: 7px;
                        animation: 1s var(--delay) header;
                        animation-fill-mode: forwards;
                    }
                }
            }

            @include for-size(3) {
                grid-column: 3/4;
                margin-bottom: calc(var(--baseline)*8);
            }

            @include for-size(4) {
                grid-column: 2/5;
                align-self: flex-start;
            }

            @include for-size(6) {
                grid-column: 4/7;
            }

        

            
        }

        aside {

            @include for-size(2) {
                grid-column: 2/3;

                width: calc(var(--width-article)*1);
                padding: 0 var(--unit);
                margin-bottom: calc(var(--baseline)*1.5);

                grid-row: 2/end;

                align-self: flex-end;


            }

            @include for-size("pad-landscape") {
                margin-bottom: calc(var(--baseline)*2.5)
            }
            

            @include for-size(3) {
                grid-column: 3/4;
            }

            @include for-size(4) {
                grid-column: 4/5;
            }

            @include for-size(5) {
                grid-column: 5/6;
            }

            @include for-size(6) {
                grid-column: 6/7;
            }

            

           
        }

    }





 @include for-size(2) {

    header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;

        animation: 1s var(--delay) header;
        animation-fill-mode: forwards;



    }


    /* CLIP PATH */

   
        header:nth-of-type(1) {
            clip-path: polygon(0 0, calc(var(--width-article)*1) 0%, calc(var(--width-article)*1) 100%, 0 100%);
        }

        header:nth-of-type(1),
        #grid-header h2 {
            transform: translate(0, calc(var(--baseline)*var(--translate-1)));
        }


        header:nth-of-type(2) {
            clip-path: polygon(var(--width-article) 0, calc(var(--width-article)*2) 0%, calc(var(--width-article)*2) 100%, var(--width-article) 100%);
            transform: translate(0, calc(var(--baseline)*var(--translate-2)));
        }



        header:nth-of-type(3) {
            clip-path: polygon(calc(var(--width-article)*2) 0, calc(var(--width-article)*3) 0%, calc(var(--width-article)*3) 100%, calc(var(--width-article)*2) 100%);
            transform: translate(0, calc(var(--baseline)*var(--translate-3)));
        }

        header:nth-of-type(4) {
            clip-path: polygon(calc(var(--width-article)*3) 0, calc(var(--width-article)*4) 0%, calc(var(--width-article)*4) 100%, calc(var(--width-article)*3) 100%);
            transform: translate(0, calc(var(--baseline)*var(--translate-4)));
        }

        header:nth-of-type(5) {
            clip-path: polygon(calc(var(--width-article)*4) 0, calc(var(--width-article)*5) 0%, calc(var(--width-article)*5) 100%, calc(var(--width-article)*4) 100%);
            transform: translate(0, calc(var(--baseline)*var(--translate-5)));
        }

        header:nth-of-type(6) {
            clip-path: polygon(calc(var(--width-article)*5) 0, calc(var(--width-article)*6) 0%, calc(var(--width-article)*6) 100%, calc(var(--width-article)*5) 100%);
            transform: translate(0, calc(var(--baseline)*var(--translate-6)));
        }
    }

    @include for-size(4) {
        #grid-header nav li:nth-of-type(1) {
            transform: translate(0, calc(var(--baseline)*var(--translate-2)));
        }

        #grid-header nav li:nth-of-type(2) {
            transform: translate(0, calc(var(--baseline)*var(--translate-3)));
        }

        #grid-header nav li:nth-of-type(3) {
            transform: translate(0, calc(var(--baseline)*var(--translate-4)));
        }
    }









    @-webkit-keyframes header {
        to {
            transform: translate(0, 0);
        }
    }


}


/* PHONE ----------------------------------------- */

@include for-size(1) {
    #page-titre {
        padding: calc(var(--unit)*1.4);
        h1{ display: none; }

        #grid-header{

            width: 100%;
            height: calc(100vh - var(--unit)*2.8);

            .elem{ display: none; }

            h1{
                display: block;
                font-size: 16vw;
                padding-top: calc(var(--unit)*1);
                @media screen and (min-width: 376px){
                    padding-top: calc(var(--unit)*2);
                }
                
                position: relative;
                left: -0.5vh;
                margin-bottom: calc(var(--baseline)*0.5)
            }
    
            h2{
                font-size: 6vw;
                line-height: 1.2em;
                @media screen and (min-width: 590px){
                    font-size: 4vw;
                }

                span:nth-of-type(1) {
                    margin-left: calc(var(--unit)*0.7);
                }

                span:nth-of-type(4) {
                    margin-left: calc(var(--unit)*1.4);
                }
            }

            nav{
                position: absolute;
                bottom: calc(var(--baseline)*8);
                @include for-size("phonexs"){
                    bottom: calc(var(--baseline)*7);
                }
                @media screen and (min-width: 321px){
                    li{
                        margin-top: calc(var(--baseline)*0.5);
                    }
                }
                
            }
    
            aside{
                border-top: 1px solid var(--color-3bis);
                padding-top: var(--unit);
                margin-top: var(--unit);
                position: absolute;
                bottom: calc(var(--baseline)*1.5);
                @include for-size("phonexs"){
                    bottom: calc(var(--baseline)*0.5);
                }
                
                p{
                    font-size: 0.8rem;
                }
                img{
                    width: 140px;
                }
            }

        }

        
    }
}