
  
body{
    min-height: 100vh;
    scroll-behavior: smooth;

    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;

    --font-title: 'Roslindale Deck Web';
    --font-labeur: 'PT Sans', sans-serif;
    --font-size-home: 18px;
    --font-size: 18px;
    --baseline-home: 26px;
    --baseline: 26px;
    --font-size-header: 14px;
    --unit: 26px;

   
    font-family: var(--font-labeur);
    font-size: 18px;
    line-height: var(--baseline);



    --color-1: #264653;
    --color-2: #e84855;
    --color-2bis: #FFEFD4;
    --color-3: #ff9b71;
    --color-3bis: #330f00;
    --color-4: #fffd82;
    --color-5: #1b998b;
    --color-5bis: #e9fbf9;
    --color-6: #fefefe;
    

    --ratio: 1.85;
  

    --home-borders: 1px solid var(--color-6);
    --header-background: #264653;
    --header-color: var(--color-6);
    --header-hover: #31a8f7;
    
    --background-page-titre: var(--header-background);
    --color-page-titre: var(--header-color);

    --space: calc(var(--unit)*1); 
    --width-article: calc((100vw - var(--space))/var(--nbr-art-screen));


    @media screen and (min-width: 1200px) {
      --width-content: 860px;    
    }
    @media screen and (min-width: 1420px) {
        --width-content: 960px;
    }


}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

