#main-credits{
    margin-top: var(--height-header);
    min-height: 100vh;
    background-color: var(--header-background); 
    color: var(--header-color);

    h1{
       padding-top: calc(var(--baseline)*3);
       padding-bottom: calc(var(--baseline)*2);
       margin: 0 auto;
       font-weight: normal;
       --width-content: 100%;

       @media screen and (min-width: 1200px) { --width-content: 860px; }
        @media screen and (min-width: 1420px) { --width-content: 960px;  }
        width: var(--width-content);
    }
   
    .content{
        margin: 0 auto;
        padding-bottom: 20vh;
    }

    h1, .container-content {
        padding-left: calc(var(--unit)*3)!important;
        padding-right:  calc(var(--unit)*3)!important;
       
    }

    .credit{
        display: block;
        text-transform: uppercase;
        font-size: 0.8em;
        letter-spacing: 1px;
        // text-decoration: underline;
    }

    img{
        mix-blend-mode: luminosity;
        background-color: white;
        width: 220px;
        margin-bottom: calc(var(--baseline)*1);
    }

}