.lien-texte{ 
    
    &::before{
        content: '';
        display: block;
        width: 16px;
        height: var(--baseline-home);
        background-color: #dfdfdf;
        position: absolute;
        top: 0;
        margin-left: calc(var(--unit)*-1);
        cursor: pointer;
        // left: -14px;
    }
}

.link-click{
    background-color: rgb(255, 209, 244);
    &::before{
        background-color: violet; 
    }
}

.link-select{
    background-color: rgba(255, 209, 244, 0.6);
    &::before{
        background-color: violet; 
    }
}