// Mobile Breakpoints
@mixin for-size($size) {
  

    @if $size=="phonexs" {
        @media screen and (max-width: 370px) {
            @content;
        }
    }

    @if $size=="phone" {
        @media screen and (max-width: 740px) {
            @content;
        }
    }

    @if $size=="aside" {
        @media screen and (min-width: 1280px) {
            @content;
        }
    }

    @if $size=="no-aside" {
        @media screen and (max-width: 1280px) {
            @content;
        }
    }

    @if $size=="desktop" {
        @media screen and (min-width: 740px) {
            @content;
        }
    }

    @if $size==1 {
        @media screen and (max-width: 860px) {
            @content;
        }
    }

    @else if $size==2 {
        @media screen and (min-width: 860px) {
            @content;
        }
    }

    @else if $size==3 {
        @media screen and (min-width: 1080px) {
            @content;
        }
    }

    @else if $size==4 {
        @media screen and (min-width: 1380px) {
            @content;
        }
    }

    @else if $size==5 {
        @media screen and (min-width: 1680px) {
            @content;
        }
    }

    @else if $size==6 {
        @media screen and (min-width: 2100px) {
            @content;
        }
    }

    @if $size=="pad-landscape" {
        @media screen and (min-width: 1023px) {
            @content;
        }
    }
    @if $size=="pad-portrait" {
        @media screen and (min-width: 767px) {
            @content;
        }
    }
}

@include for-size(1) {}