
 .scrollyAlone .container { 
        --height-scrolly: 800px;
       
      
        height: var(--height-scrolly);
        max-height: calc(100vh - var(--height-header) - var(--baseline)*3);
        overflow: scroll;
        cursor: url('/images/scroll-bottom.png'), pointer;


        /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
        display: none;
      }
      
      /* Hide scrollbar for IE, Edge and Firefox */
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  
        

        .hack-scroll{
            width: 0px;
            height: 200vh;
        }
    
        
    
        .scrolly-container{
            width: 100%;
            position: sticky;
            top: 0; 
            left: 0;    
        }
    
      
       img{
            width: 100%;
            object-fit: contain;
            object-position: 0 0;
            display: none;
        }
    
        .img-visible{
            display: block;
            
        }

      
    


    }





    @media screen{

 

        .container-icone{
            position: absolute; 
            opacity: 0.8;
            top: 21px;
            right: -36px;
            
            .icon-scroll {
                font-size: 12px;
                width: 1em;
                height: 3.125em;
                transform: translateX(-50%) scale(1.5);
                z-index: 99999; }
              .icon-arrows::after,
              .icon-arrows::before {
                content: ''; }
              .icon-arrows span,
              .icon-arrows::after,
              .icon-arrows::before {
                display: block;
                width: 0.315em;
                height: 0.315em;
                border-right: 1px solid var(--color-article);
                border-bottom: 1px solid var(--color-article);
                margin: 0 0 0.125em 0.315em;
                transform: rotate(45deg);
                animation: mouse-scroll 1s infinite;
                animation-direction: alternate; }
              .icon-arrows::before {
                margin-top: 0.315em;
                animation-delay: .1s; }
              .icon-scroll span {
                animation-delay: .2s; 
                width: 0.4em;
                height: 0.4em;
            }
              .icon-arrows::after {
                animation-delay: .3s; }
              .icon-scroll .mouse {
                height: 1.375em;
                width: .875em;
                border: 1px solid var(--color-article);
                border-radius: 2em; 
                left: 1px;
            }
              .icon-scroll .wheel {
                position: relative;
                display: block;
                height: 0.1875em;
                width: 0.1875em;
                margin: 0.1875em auto 0;
                background: var(--color-article);
                animation: mouse-wheel 1.2s ease infinite;
                border-radius: 50%; }
              @keyframes mouse-wheel {
                0% {
                  opacity: 1;
                  transform: translateY(0); }
                100% {
                  opacity: 0;
                  transform: translateY(0.375em); } }
              @keyframes mouse-scroll {
                0% {
                  opacity: 0; }
                50% {
                  opacity: .5; }
                100% {
                  opacity: 1; } } 
            
        }

    }
    

  