
/* Article-single -------------------------------------------------------------------- 
-------------------------------------------------------------------------------------- */



.article-single{


@include for-size(1) {

    

    #ville-01{
        left: -17%;
        width: 60%;
        z-index: 10;
    } 
    
    
    #ville-02{
        left: 23%;
        width: 50%;
        z-index: 20;
        bottom: 0;
    } 
    
    #ville-03{
        width: 46%;
        right: -6%;
        z-index: 10;
        // display: none!important
    } 
    
    #ville-04{
     
        display: none!important;
    } 
} 


@media screen and (max-width: 560px){

    #ville-01{
        left: -60px;
        width: 80%;
        z-index: 0;
    }

    #ville-02{
        right: -10%!important;
        left: auto;
        width: 60%;
        z-index: 10;

    }

    #ville-03, #ville-04{ display: none!important; }
}






@include for-size(2) {

    #ville-01{
        left: -10%;
        width: 45%;
        z-index: 10;
        display: block;
    } 
    
    
    #ville-02{
        left: 20%;
        width: 30%;
        z-index: 20;
        display: block;
    } 
    
    #ville-03{
        width: 35%;
        left: 42%;
        z-index: 10;
        display: block;
        bottom: 0px;
    } 
    
    #ville-04{
        width: 29%;
        right: 0%;
        display: block;
        bottom: 0px;
    } 

} 

}


