@media print{


    @page{
        size: A4;
        margin: 20mm;
    }
  

    [data-order]{
        --bg-article: transparent;
        --color-article: black;
        header {
            background-color: transparent!important;
            color: black!important;
            figure {
                background-color: transparent!important;
            }
        } 
    }



    /* RUNING HEADER ----------------------------------------------------------------------------------------------
    --------------------------------------------------------------------------------------------------------------- */ 


    .running-print{
        border-top: 1px solid #666;
        border-bottom: 1px solid #666;
        padding: 2mm 0;
        position: relative;

        font-family: var(--font-labeur);

        h1{
            font-family: var(--font-labeur);
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 600;
        }

        h2{
            font-family: var(--font-labeur);
            font-size: 14px;
            line-height: 1.2em;
            font-weight: normal;
            font-weight: 600;
            margin-bottom: 0.5em;

        }

        p{
            font-family: var(--font-labeur);
            font-size: 11px;
        }

        a{
            color: currentColor;
            text-decoration: none;
        }
        img{
            width: 35mm;
            position: absolute;
            right: 0; 
            //bottom: 10px;
            top: 9px;
            filter: grayscale(1);
        }
    }


    /* HOME -------------------------------------------------------------------------------------------------------
    --------------------------------------------------------------------------------------------------------------- */ 

    #page-home{

        

        #page-titre{
            background-color: transparent;
            min-width:0px;
            min-height: 0px;
            border-top: 1px solid #666;
            padding-top: 8mm;
        
            h1{
                font-size: 68px;
            }
            h2{
                font-size: 24px;
                line-height: 1.4em;
            }
            aside{
                padding: 3mm 0 5mm 0;
                border-bottom: 1px solid #666;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                p{
                    font-size: 11px;
                    max-width: 45ch;
                    margin-right: 10mm;
                    line-height: 1.2em;
                }
                img{
                    width: 35mm;
                    filter: grayscale(1);
                }
            }
        }
        .running-print {
            border-top: 0px;
            margin-top: 20mm;
            padding-bottom: 6mm!important;
            padding-left: 0px!important;
            p{
                font-size: 14px;
            }
        }
       
        header, nav, #introduction-close {
            display: none;
        }
        #section-introduction{
            display: block;
            background-color: transparent; 
            width: 100%;
            height: auto;
            position: relative;
        
        }
        #introduction{
            background-color: transparent; 
            color: black!important;
            padding: 0;
            margin-top: 24mm;
            position: relative;

            --font-size: 14px;
            --baseline: 20px;

            .container-introduction{
                max-width: 100%;
                margin: 0;
            }
            h1{
                display: none;
            }
            h2{
                font-family: var(--font-title);
                padding: 0;
                margin-bottom: calc(var(--baseline)*1);
                max-width: 25ch;
                &::before{
                    display: block;
                    font-weight: 500;
                    font-size: 11px;
                    content: "Introduction";
                    font-family: var(--font-labeur);
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
            }
            p{
                font-family: var(--font-labeur);
                font-size: var(--font-size);
                line-height: var(--baseline);
                margin-bottom: calc(var(--baseline)*0.5)!important;
                max-width: 60ch;
          
            }

            ul li{
                margin-bottom: calc(var(--baseline)*1);
            }
            ul li::before{
                font-size: 1em;
                top: 3px;
            }
            .footnote-container p {
                font-size: 11px;
                line-height: 1.4em
        }
        }
        

    }



    /* PAGE TEXTES ---------------------------------------------------------------------------------------------
    --------------------------------------------------------------------------------------------------------------- */

    #page-list-textes{
        background-color: transparent!important;
        margin-top: 30mm;
        min-height: 0mm;

        #section-textes-list{
            background-color: transparent;
            margin: 0;
            padding: 0;
            columns: 2;
            column-gap: 5%;
        }
        .link-article{
            display: none;
        }
        #header{
            display: none!important;
        }
        article {
            .container-article, svg, video{ 
                display: none!important;
            }
            header{
                min-height: 0mm!important;
                padding: 4mm 0;
                break-inside: avoid;
                border-bottom: 1px solid #cfcfcf;
                h1{
                    font-size: 18px;
                    line-height: 1.2em;
                    small{
                        font-family: var(--font-labeur);
                        font-size: 14px;
                    }
                }
                .author{
                    font-size: 11px;
                    text-transform: capitalize;
                    letter-spacing: 0px;
                }
                figure{
                    display: none;
                    width: 80mm;
                    height: 40mm;
                    position: absolute;
                    right: 0;
                    top: 0;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        .running-print{ display: none; }
        article:first-of-type .running-print{
            display: block;
            position: absolute;
            width: 100vw;
            top: -30mm;
        }
    }

    /* ARTICLE SINGLE ---------------------------------------------------------------------------------------------
    --------------------------------------------------------------------------------------------------------------- */

    #page-textes #header{
        display: none;
    }

    .article-single {
        max-width: 210mm;

        --width-img-print: 48mm;
        --font-size: 14px;
        --baseline: 20px;
        --small-size: 11px;

        padding-top: 0px!important;
        padding-bottom: 0px!important;

        .container-content{
            padding: 0!important;
        }
    }

    /* HEADER ------------------------------------------- */
    
    .article-single header{


        margin-top: calc(var(--baseline)*2);
        margin-bottom: calc(var(--baseline)*1.5)!important;
        border-bottom: 1px solid #666;
        min-height: 50mm;
        padding-bottom: calc(var(--baseline)*1.5)!important;

        h1{
            font-size: 38px!important;
            line-height: 1.2em!important;
            width: calc(100% - 70mm);
            padding-right: 10mm;
            small{
                font-size: 24px;
                line-height: 1.2em;
                margin-top: 10px;
            }
        }

        .author{
            margin-top: calc(var(--baseline)*1);
            font-size: 15px;
        }

        .full-screen{ display: none; }
        figure, img{
            width: 70mm!important;
            height: auto!important;
       
        }
        figure{
            position: absolute; 
            top: 0;
            right: 0;
        }
        
        img {
            mix-blend-mode: normal!important;
            opacity: 1!important;
           
            
        }


    }

    /* CONTENT ------------------------------------------- */

    .column-only{ 
        display: none; 
    }

  
    .content{

        img{
            width: 100%;
            filter: grayscale(1)!important;
        }
    

        figure{
            max-width: var(--width-img-print);
            display: inline-block;
            break-inside: avoid;
        }
    
        figcaption, .figcaption{
            font-size: var(--small-size)!important;
        }
       
    
        p{
            margin-bottom: calc(var(--baseline)*0.5)!important;
            max-width: 60ch;
      
        }

        .footnote-container{
            columns: 2;
            margin-top: calc(var(--baseline)*3)!important;
            &:before{
                margin-top: 0!important;
                position: absolute;
                top: calc(var(--baseline)*-2);
            }
            p{
                break-inside: avoid;
            }
        }

        .footnote-container, .container-aside{
            p{
                font-size: var(--small-size);
                line-height: 1.4em
            }
        }

        hr{
            border: none;
            border-bottom: 1px solid #666;
            top: 0!important;
            margin-top: calc(var(--baseline)*1.5);
        }
        .container-aside{
            display: flex;
        }

        .bio{
            max-width: calc(50% - 20px);
            margin-right: 40px;
        }
        

        p + blockquote {
            margin-top: calc(var(--baseline)*0.5)!important;
        }

        blockquote{
            margin-bottom: calc(var(--baseline)*0.5)!important;
            padding-left: 4ch;
        }

    }

    /* ARTICLE SINGLE SPECIFIC ------------------------------------------------------------------------------------
    --------------------------------------------------------------------------------------------------------------- */    

    .click-unmuted{ 
        display: none;
    }


    #natalia-3 .content{
        figure{
            float: right;
            clear: both;
            margin-top: 0;
            margin-left: var(--unit);
        }
        .group-aside{
            display: block!important;
            figure{ display: block;}
        }
    
        .aside-center{ display: none; }
    }
    
    #anouk{
        header{ min-height: 58mm;}
        .content figure{
            vertical-align: top;
            margin-right: 10px;
            max-width: calc(100%/3 - 15px);
        }
        .content .procession-group{
            max-width: calc(100%/2 - 15px);

        }
    }

    #remi{
        .parallax,
        .parallax + .figcaption,
        .full-video, 
        .full-video + .figcaption{
            width: 80mm!important;
            float: right;
            margin-left: calc(var(--unit)*2)!important;
            padding-bottom: 10px;
            clear: both;
            .single-only{ display: none;}
            .column-only{
                display: block!important;
            }
        }
       #remi_fig2{
           width: var(--width-img-print);
           float: right;
           margin-left: calc(var(--unit)*2)!important;
           .scrollyAlone{
               display: none;
           }
       }
       #remi_fig2 + .figcaption{
           float: right;
           clear: both;  
           width: var(--width-img-print);
           padding-top: 12px!important;
           padding-left: 10px;
           margin-left: calc(var(--unit)*2)!important;
       }
       video{
        margin-left: calc(var(--unit)*2);
        margin-left: calc(var(--unit)*2)!important;
           width: 80mm;
           float: right;
           clear: both;
       }

       #remi_fig6,
       #remi_fig6 + .figcaption{
        width: 80mm!important;
       }

    }


    #joseph-2, 
    #dimitri-2{
        .content figure{ display: none; }
        .footer-blockquote{
            margin-left: 5ch;
            margin-top: -5px!important;
            margin-bottom: calc(var(--baseline)*1.5)!important;
        }
        .full-video,
        video{
            width: var(--width-img-print);
            float: right;
            margin-left: calc(var(--unit)*1.5)!important;
            &::after{
                content: '▶ video';
                font-size: 10px;
            }
        }
        blockquote p{
            max-width: 40ch;
        }
        .keyword{
            border-bottom: none!important; 
            &::before{ display: none!important; }
        }
    }

    #leandre-1 {
        .content figure{ display: none; }
    }
   

    #clement{
        .footnote-container{
            break-inside: avoid;
        }
        .content figure{ display: none; }
        blockquote{
            margin-top: calc(var(--baseline)*2)!important;
            margin-bottom: calc(var(--baseline)*1.5)!important;
        }
    }

    #maxime{
        header{
            min-height: 68mm!important;
            figure{ 
                width: 40mm!important;
                height: 56mm!important;
                overflow: hidden;
            }
        }
        .group-aside{
            .scrollyAlone{ display: none!important; }
        }
    
        #bateau{
            width: var(--width-img-print);
            padding-bottom: 10px!important;
            margin-left: calc(var(--unit)*2)!important;
            float:right;
        }
        .full-video,
        video{
            width: var(--width-img-print);
            float: right;
            margin-left: calc(var(--unit)*1.5)!important;
            clear: both;
            &::after{
                content: '▶ video';
                font-size: 10px;
            }
        }
        #roue{
            width: var(--width-img-print);
            float: right;
            margin-left: calc(var(--unit)*1.5)!important;
        }
    }

    #natalia-2{
        .group-aside, .aside-center{
            display: none;
        }
        .aside-center img{
            width: calc(100%/2 - 20px)!important;
            margin-right: 10px!important;
            margin-bottom: 10px!important;
            margin-top: 0px!important;
        }
    }

    #jenny{
        .footer-blockquote{
            margin-left: 5ch;
            margin-top: -5px!important;
            margin-bottom: calc(var(--baseline)*1.5)!important;
        }
        .inline-elems{
            display: flex;
            border-bottom: 1px solid #666;
            padding: var(--baseline) 0;
            break-inside: avoid;
            img{
                width: var(--width-img-print)!important;
                margin-right: var(--unit);
            }
            &:last-of-type{
                border-bottom: none;
            }
        }
    }

    #amanda{
        .group-aside{
            width: var(--width-img-print)!important;
            float: right!important;
            margin-left: calc(var(--unit)*1.5)!important;
        }
        header{
            min-height: 36mm!important;
        }
        header img{
            object-position: 0px 0px!important;
        }
        header figure{
            position: relative;
            float: right;
            top: -60px;
            margin-left: calc(var(--unit)*1.5)!important;
        }
        hr{ break-before: page; opacity: 0;}

    }

    #barbara{
        header{
            min-height: 56mm;
        }
        figure{
            float: right;
            margin-left: calc(var(--unit)*1.5)!important;
        }
    }

    #joseph-1{
        .sticky-aside{
            width: var(--width-img-print)!important;
            float: right;
            margin-left: calc(var(--unit)*1.5)!important;
        }

        .aside-center{ display: none; }
    }

    #dimitri-1{
        .scrollyAlone, .figure, video{ display: none!important;}
    }

    #natalia1{
        header{ min-height: 62mm;}
        #ville-fixed{ display: none;}
        .content figure{
            float: right;
            margin-left: calc(var(--unit)*1.5);
            clear: both;
        }
        .content figure:nth-of-type(2){
            float: none;
            max-width: 100%!important;
            margin-left: 0px;
        }
    }

    #leandre-2{
        header{ min-height: 58mm;}
        .content figure{ display: none; }
    }

    #jenny,
    #maxime,
    #joseph-2,
    #clemence,
    #clement,
    #amanda,
    #joseph-1,
    #leandre-2{
        .footnote-container,
        .container-aside{
            columns: 1;
            width: 50%;
            display: block;
            margin-left: 0!important;
            .bio{
                max-width: 100%;
                margin-right: 0;
            }
        }

    }



    /* CREDITS ----------------------------------------------------------------------------------------------------
    --------------------------------------------------------------------------------------------------------------- */    


    #page-credits{

        --width-img-print: 48mm;
        --font-size: 14px;
        --baseline: 20px;
        --small-size: 11px;
        min-height: 0px;

        .running-print h1, .content, .container-content{ padding: 0!important; margin: 0;}

       img{
           width: 30mm
       }

        .title-list{
            font-size: 24px;
            margin-top: calc(var(--baseline)*3);
            margin-bottom: calc(var(--baseline)*1.5);
            padding: 0!important;
        }
        #header{
            display: none;
        }
        #main-credits {
            margin-top:0;
            min-height: 0px;
            background-color: transparent;
            color: black;
        }
        p{
            margin-bottom: calc(var(--baseline)*1)!important;
        }

    }

    
    
}

