body {
    --height-header: calc(var(--unit)*3);
    
    --height-header-open: calc(var(--unit)*6);
    @include for-size(phone){
      --height-header: calc(var(--unit)*2);
      --height-header-open: calc(var(--unit)*2);

      
    }
  
}




#header {


   
    width: 100vw;
    position: fixed;
    top: 0px; 
    left: 0;
    font-size: var(--font-size-header);
    border-bottom: var(--home-borders);
    background-color: var(--header-background); 
    z-index: 999;
    overflow: hidden;
    max-height: var(--height-header);
    transition: max-height .3s;
    color: var(--header-color);
    z-index: 9999;


    .container{

        display: flex;
        flex-basis: 0;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
      padding-bottom: var(--unit);
      @include for-size(desktop){
        padding: var(--unit) calc(var(--unit)*1.5) var(--unit) calc(var(--unit)*1);
      }
      @include for-size(phone){
        padding: calc(var(--unit)*0.5) calc(var(--unit)*1) calc(var(--unit)*0.5) calc(var(--unit)*1);
      }
      border-bottom: var(--home-borders);
    }



    a{
      color: var(--header-color);
      text-decoration: none;
    }


    ul {
      list-style: none;
      padding: 0;
    }

    #nav-pages{
      cursor: pointer; 
      @include for-size(phone){
        top: 4px;
      }
      top: 2px;
      svg{
        width: 18px;
        fill: var(--header-color);
      }
      &:hover{
        svg { fill: var(--header-hover); }
      }
      
    }



    #nav-pages ul li{
      display: inline-block;
      &:after {
        content: "/";
        padding: 0 calc(var(--unit)*0.5);
      }
      &:last-of-type:after {
        content: none;
        padding: 0;
      }
      a:hover{ color: var(--header-hover);}
    }

    #navigation-articles{
      h1{
        font-family: var(--font-title);
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
        display: flex;
        align-items: center;
        a:hover{ color: var(--header-hover); }

       
      }

      button {
        height: 20px;
        margin: 0 var(--unit);
        @include for-size(phone){
          margin: 0 calc(var(--unit)*1.2);
        } 
        cursor: pointer; 
        background: none;
        border: none;
        outline: none;
        font-size: 1.8em;
        color: var(--header-color);
        &:hover{ color: var(--header-hover); }
        a:hover{ color: var(--header-hover); }
        

      }
      .button-no{ 
        opacity: 0.3; 
        cursor: auto;
        &:hover{ color: currentColor; }
      }
    }

    #group-num-tags {
      display: flex;
      justify-content: flex-end;
      font-family: var(--font-labeur);
      font-size: var(--font-size);
      padding-left: calc(var(--unit)*1.5);
      position: absolute;
      right: calc(var(--unit)*3.5);
      top: 24px;

 

      #tags-title{
        display: none;
        z-index: 9999;
        text-transform: capitalize;
        &::first-letter{ }
        &::before{ content: "# "}
      }

      #num-article{
        margin-left: var(--unit);
        @include for-size(phone){
          margin-left: 0;
          padding-top: 2px;
        }
      }

      #num-article-tags{
        padding-left: var(--unit);
      }

    
    }

  }



  #page-list-textes {
    #nav-list{ display: flex; }
    #nav-single { display: none; }

    @include for-size(phone){
      #navigation-articles button{ display: none; }
      #label-categories { right: -11px; }
      #header h1{ font-size: 20px; }
      #num-article{ display: none!important; }
    }


  }
  
  #page-textes {
    #nav-list{ display: none; }
    #nav-single { display: flex; }
    #label-categories{ width: 0; overflow: hidden; }
    @include for-size(phone){
      
      #header h1{ display: none }
      #label-categories{ display: none}

      #group-num-tags { 
        font-size: 16px;
        right: calc(var(--unit)*3.1); 
        top: 10px;
        padding: 0;
      }
      
      #header #nav-single button{
        margin: 0 calc(var(--unit)*1.5);
        position: relative; 
        left: calc(var(--unit)*1);
      }
    }
    
  }

  #page-credits{
    button{ display: none; }
    #nav-list{ display: none; }
    #nav-single .button-no { display: none!important}
    #group-num-tags{ display: none;}
    #label-categories{ width: 0; overflow: hidden; }
  }

   



    
/* CATEGORIES ------------------------------------------------------------------- */
#label-categories {
  position: relative;
  top: 2px;
 
  svg{
    width: 18px;
    fill: var(--header-color);
  }
  cursor: pointer; 
  &:hover{ 
    svg { fill: var(--header-hover); }  
  }
}

#all-categories{
  width: 100%;
  max-width: 860px;
  padding: var(--unit)!important;
  display: none;
  margin: var(--baseline) auto;

  @media screen and (max-width: 460px){
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 10vh!important;
    margin-top: 0!important
  }

  @media screen and (max-width: 880px){
    max-width: 660px;
  }

  @media screen and (max-width: 655px){
    max-width: 460px;
  }

  
  
  li:not(:first-of-type){
    min-width: 18ch;
  }


  li{
    display: inline-block;
    width: 18ch;
    margin: calc(var(--unit)*0.5);
    font-size: 1.1rem;
    &::first-letter{  text-transform: capitalize; }

    @media screen and (max-width: 460px){
      display: block;
      margin: calc(var(--unit)*1) auto;
    }
   
  }

  li label{
    display: block;
    width: 100%;
    background-color: var(--color-5);
    border: 1px solid var(--color-5);
    border-radius: 2px;
    padding: 4px 10px; 
    text-align: left;
    cursor: pointer;
    span { 
      float: right;
      font-size: 0.8rem;
    }
    &:hover{
      border: 1px solid var(--header-color);
    }
  }
}


/* SOMMAIRE (avec sommaire) ----------------------------------------------------- */

#navigation {
  height: calc(100vh - var(--height-header));
  overflow-y: scroll;
  padding-bottom: 20vh;
  display: none;
  font-weight: 400;
  padding: 0 var(--unit);

  #nav-links{
    margin-top: calc(var(--baseline)*1.5);
    margin-bottom: calc(var(--baseline)*2);
    li{
      font-weight: 400;
      font-size: 1.2rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: calc(var(--baseline)*0.5);
      cursor: pointer;
      &::before{ content: "⇒ "; }
      &:hover {
        transition: 0.5s;
        transform: translate(var(--unit));
      }
    }

    @include for-size(desktop){
      margin-top: calc(var(--baseline)*2);
      margin-bottom: calc(var(--baseline)*3);
      li{padding-left: 30%;}
    }
   
    
  }

}


/* SOMMAIRE ----------------------------------------------------- */

#navigation h2{
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
   
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    @include for-size(desktop){
      margin-left: 30%;
    }
}

#sommaire {
  color: var(--header-color);
  padding-bottom: 40vh!important;

 
  .author, .title{
    display: block;
  }

  .author{
    color: var(--color-5);
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .title{
    
   
    &::first-letter{
      text-transform: capitalize;
    }
    small{
      display: block;
      font-size: 1.2rem;
      &::first-letter{
        text-transform: capitalize;
      }
    }
  }



  .title:hover {
    transition: 0.5s;
    transform: translate(var(--unit));
  }
}


@include for-size(phone){
  #navigation h2{
    font-size: 1rem;
    // margin-bottom: calc(var(--baseline)*1.5);
  }
  #sommaire{
    li{
      margin-top: calc(var(--baseline)*1.3);
    }
    .author{
      font-size: 1.1rem;
    }
    .title{
      font-size: 1.3rem;
      small{
        font-size: 1rem;
      }
    }
  }
}

@include for-size(desktop){
  #navigation h2{
     font-size: 1.2rem;
    margin-bottom: calc(var(--baseline)*1.5);
  }
  #sommaire{
    .author, .title{
      display: inline-block;
      vertical-align: top;
    }
    .author{
      font-size: 1.2rem;
      width: 30%;
      text-align: right;
      padding-right: var(--unit);
    }
    .title{
      font-size: 1.6rem;
      width: 60%;
      margin-bottom: calc(var(--baseline)*1);
      small{
        margin-top: calc(var(--baseline)*0.25);
        font-size: 1.2rem;
      }
    }
  }

}


/* OPEN / CLOSE HEADER INPUTS ----------------------------------- */

.label-none {
  display: none;
  z-index: 88;
  height: var(--height-header);
  width: 80vw;
  position: fixed;
  top: 0;
}

#label-nav-none { left: 0; }
#label-cat-none { right: 0; }



#input-nav:checked ~ header {
  max-height: 100vh;
  #label-nav-none { display: block; }
  #navigation{ display: block!important; }
} 



#input-categories:checked ~ header {
  max-height: 100vh;
  #navigation { display: none!important; }
  #label-cat-none { display: block; }
  #all-categories { display: block; }
} 



@include for-size(phone){
  #input-analyse:checked,
  #input-cinéma:checked,
  #input-design:checked, 
  #input-performance:checked, 
  #input-pratique:checked{
    & ~ header{
      max-height: calc(var(--unit)*3);
      .container{
        height: calc(var(--unit)*3);
      }
      #group-num-tags{
        padding-left: 0!important;
        left: var(--unit)!important;
        top: 42px!important;
        width: calc(100vw - var(--unit)*2)!important;
        text-align: center!important;
        display: block!important;
      }
    }
    & ~ #section-textes-list{
      margin-top: calc(var(--unit)*3)!important;
    }
   
  }

  #input-categories:checked ~ header{
    max-height: 100vh!important;
  }


  #num-article-tags{ 
    opacity: 0; 
    visibility: hidden;
    padding-left: 0px!important;
    width: 8px!important;
    display: inline-block;
  
  }
  
}
  