<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}fr-FR{{ end }}">
    {{- partial "head.html" . -}}
    <body id="page-{{lower .Type}}" >
        {{- partial "textes-header.html" . -}}
        <main role="main" id="main-{{lower .Type}}">
            {{- block "main" . }}{{- end }}
        </main>
        
        {{- partial "footer.html" . -}}
    </body>
</html>