{{ define "main" }}

<div class="running-print">
  <h1>Héro·ïne·s</h1>
    <h2>Repenser les héros dans les œuvres et pratiques artistiques</h2>
    <p><a href="https://repenserlesheros.femis.fr/">repenserlesheros.femis.fr</a></p>
    <img src="/uploads/logo-sacre.png">
</div>


<h1 class="title-list">{{ .Title }}</h1>

<div class="container-main">

  <section class="content">
    <div class="container-content">
      {{ .Content }}
    </div>
  </section>




{{ end }}