{{ define "main" }}

<div class="container-main" data-order="{{.Params.weight }}" data-prev="{{with .Site.RegularPages.Prev . }}{{.RelPermalink}}{{end}}" data-next="{{with .Site.RegularPages.Next . }}{{.RelPermalink}}{{end}}" id="{{ if .Params.identifiant }}{{.Params.identifiant}}{{end}}">
      <article class="article-single">
            {{ .Render "post" }}   
      </article>
      
</div>

{{ end }}