{{ define "main" }}

<h1 class="title-list">L'association</h1>

<div class="container-main">

  <!-- about -->
  <section id="about-content" class="content">
    <div class="container">
      {{ .Content }}
    </div>
  </section>
  <!-- /about -->



</div>

{{ end }}