<head>
  <meta charset="utf-8">
  <title>{{ .Site.Title }}</title>

  {{ "<!-- mobile responsive meta -->" | safeHTML }}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
  {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
  {{ hugo.Generator }}

 
  {{ $styles := resources.Get "scss/style.scss" | toCSS | minify }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}">
  {{ $print := resources.Get "scss/print.scss" | toCSS | minify }}
  <link rel="stylesheet" href="{{ $print.Permalink }}">

  {{ $regex := resources.Get "js/regex-typo.js" }}
  <script src="{{ $regex.Permalink }}" type="text/javascript"></script> 
  {{ $header := resources.Get "js/header.js" }}
  <script src="{{ $header.Permalink }}" type="text/javascript"></script> 
  {{ $tagscript := resources.Get "js/tags.js" }}
  <script src="{{ $tagscript.Permalink }}" type="text/javascript"></script> 
  {{ $specific := resources.Get "js/specific-effects.js" }}
  <script src="{{ $specific.Permalink }}" type="text/javascript"></script> 
  {{ $ville := resources.Get "js/ville-fixed.js" }}
  <script src="{{ $ville.Permalink }}" type="text/javascript"></script> 
  {{ $parallax := resources.Get "js/parallax.js" }}
  <script src="{{ $parallax.Permalink }}" type="text/javascript"></script>
  {{ $video := resources.Get "js/videos.js" }}
  <script src="{{ $video.Permalink }}" type="text/javascript"></script>  
  <!-- {{ $swipe := resources.Get "js/swipe.js" }}
  <script src="{{ $swipe.Permalink }}" type="text/javascript"></script>  -->
  {{ $script := resources.Get "js/script.js" }}
  <script src="{{ $script.Permalink }}" type="text/javascript"></script> 
 

  {{ $footnoteTemplate := resources.Get "js/footnoteTemplate.js" }}
  <script src="{{ $footnoteTemplate.Permalink }}" type="text/javascript"></script> 
   
  <!-- fontes -->

<link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/fonts/RoslindaleDeck/stylesheet.css">


  {{ "<!--Favicon-->" | safeHTML }}
  <link rel="shortcut icon" href="{{ `images/favicon.png` | absURL }} " type="image/x-icon">
  <link rel="icon" href="{{ `images/favicon.png` | absURL }} " type="image/x-icon">


  <!-- TRI LISTE CATEGORIES-->
  <style>
    .input-category:checked ~ #section-textes-list article{
      display: none;
      visibility: hidden;
    }
    .input-category:checked ~ #header #num-article {
      display: none;
      visibility: hidden;
    }
    #input-all:checked ~ #section-textes-list article{
      display: block;
      visibility: visible;
    }
    #input-all:checked ~ #header #num-article {
      display: block;
      visibility: visible;
    }
    {{ range $name, $items := .Site.Taxonomies.categories }}
    #input-{{ $name }}:checked ~ #section-textes-list .{{ $name }} { 
      display: block; 
      visibility: visible;
    }
    #input-{{ $name }}:checked ~ #header #label-{{ $name }} { 
      background-color: var(--color-2);
      border: 1px solid var(--color-2);
      cursor: default;
    }
    {{ end }}
    
  </style>

</head>