<input type="radio"  name="input-header" id="input-categories" value="categories" hidden>
<input type="radio" name="input-header" id="input-nav" value="nav" hidden>
<input type="radio" name="input-header" id="input-none" value="none" hidden>
{{ $posts := (where .Site.RegularPages "Section" "==" "textes") }}
{{ $postCount := len $posts }}
<input type="radio" name="input-category" class="input-category" id="input-all" data-len="{{ $postCount }}" hidden checked>
{{ range $name, $items := .Site.Taxonomies.categories }}
<input type="radio" name="input-category" class="input-category" id="input-{{ $name | anchorize  }}" data-len="{{ len $items }}" hidden>
{{ end }}
<header id="header">
  <div class="container">
  

    <label id="nav-pages" for="input-nav" >
      <svg width="100%" height="100%" viewBox="0 0 384 384" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M368,207.668L16,207.668C7.168,207.668 0,200.5 0,191.668C0,182.836 7.168,175.668 16,175.668L368,175.668C376.832,175.668 384,182.836 384,191.668C384,200.5 376.832,207.668 368,207.668Z" style="fill-rule:nonzero;"/><path d="M368,85L16,85C7.168,85 0,77.832 0,69C0,60.168 7.168,53 16,53L368,53C376.832,53 384,60.168 384,69C384,77.832 376.832,85 368,85Z" style="fill-rule:nonzero;"/><path d="M368,330.332L16,330.332C7.168,330.332 0,323.164 0,314.332C0,305.5 7.168,298.332 16,298.332L368,298.332C376.832,298.332 384,305.5 384,314.332C384,323.164 376.832,330.332 368,330.332Z" style="fill-rule:nonzero;"/></svg>
    </label>

    <label id="label-nav-none" class="label-none" for="input-none"></label>


  

    <div id="navigation-articles" for="input-nav">
      <div id="nav-list">
        <button id="home-prev" class="button-no">←</button>
        <h1><a href="/">Héro·ïne·s</a> </h1>
        <button  id="home-next">→</button>
      </div>
      <div id="nav-single">

        {{ if .NextInSection }}
        <button><a class="link-reverse" href="{{ .NextInSection.Permalink }}">←</a></button>
        {{ else }}
        <button><a class="link-reverse" href="/textes/devoration-obscuro-barroco/">←</a></button>
        {{ end }}

        
        <h1><a href="/textes">Héro·ïne·s</a> </h1>
        {{ if .PrevInSection }}
        <button><a class="link-reverse" href="{{ .PrevInSection.Permalink }}">→</a></button>
        {{ else }}
        <button><a class="link-reverse" href="/textes/le-heros-sans-attributs/">→</a></button>
        {{ end }}        

      </div>
    </div>

    <div id="group-num-tags">
      <p id="tags-title"></p>

  
      <p id="num-article">
        {{ $posts := (where .Site.RegularPages "Section" "==" "textes") }}
        {{ $postCount := len $posts }}
        <span>{{ if .Params.weight }}{{ .Params.weight }}{{ else }}1{{ end }}</span> / {{ $postCount }}
      </p>
    </div>

    <label id="label-cat-none" class="label-none" for="input-none"></label>

    <label id="label-categories" for="input-categories">
      <svg version="1.1" id="svg-cat" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 333.086 333.087" style="enable-background:new 0 0 333.086 333.087;" xml:space="preserve"><g><path d="M284.662,333.087c-3.614,0-7.136-1.57-9.559-4.441l-108.56-128.714L57.983,328.646c-3.384,4.014-8.916,5.481-13.845,3.683 c-4.93-1.802-8.21-6.492-8.21-11.741V12.5c0-6.903,5.597-12.5,12.5-12.5h236.23c6.902,0,12.5,5.597,12.5,12.5v308.086 c0,5.249-3.28,9.939-8.21,11.741C287.546,332.839,286.096,333.087,284.662,333.087z M166.543,168.043 c3.684,0,7.18,1.625,9.555,4.441l96.061,113.893V25H60.928v261.377l96.06-113.893 C159.363,169.668,162.859,168.043,166.543,168.043z"/></g></svg>
    </label>

  </div>


  <nav id="navigation">
    <ul id="nav-links">
      <li><a href="/">Home</a></li>
      <li onclick="intro()">Introduction</li>
      <li><a href="/textes">Les textes</a></li>
      <li><a href="/credits">Crédits</a></li>
    </ul>

    <h2>Sommaire des textes</h2>
    <ul id="sommaire">
      {{ with .Site.GetPage "section" "textes" }}
      {{ range .Data.Pages }}
      <li>
        <span class="author">{{.Params.author }}</span>
        <span class="title"><a href="{{.Permalink}}">{{.Title | markdownify }} {{ if .Params.subtitle  }}<small>{{.Params.subtitle | markdownify}}</small>{{ end }}</a></span>
      </li>
      {{ end }}
      {{ end }}
    </ul>

  </nav>

 <ul id="all-categories">
  <li><label for="input-all" onclick="tagsAll()">Tous les textes <span>17</span></label></li>
  {{ range $name, $items := .Site.Taxonomies.categories }}
  <li><label onclick="tags({{ $name | anchorize }}, {{ len $items }})" for="input-{{ $name }}" id="label-{{ $name }}">
    {{ if eq $name "cinema"}}Cinéma{{ else }}{{ $name }}{{ end }} 
    <span>{{ len $items }}</span></label></a></li>
  {{ end }}

 </ul>

  



</header>



