#page-textes #amanda {

    .group-aside{
        max-width: 500px;
        img{
            margin-bottom: calc(var(--baseline)*0.5);
        }
    }
    header img {
        width: 120%;
        object-position: -64px -335px
        
    }

    @media screen and (max-width: 900px){
        header img{
            object-position: -64px -275px

        }
    }

    @media screen and (max-width: 700px){
        header img{
            object-position: -64px -200px

        }
    }

    @media screen and (max-width: 550px){
        header img{
            object-position: -64px -130px

        }
    }
    
}


#section-textes-list #amanda{
    header img{
        width: 200%;
        object-position: -49px -159px;

    }

    .group-aside{
        margin: calc(var(--baseline)*1.5) 0;
        img{
            margin-bottom: calc(var(--baseline)*0.5)
        }
    }

}