#page-textes #anouk {
    header img {
        width: 100%;
        object-position: 0 0;
    }
    figcaption {
        @include for-size(desktop){
            text-align: center;
        }
        @include for-size(phone){
            margin: 0;
            padding-left: var(--unit);
            padding-right: var(--unit);
        }

    }
    .smallscale {
        transform: scale(1)!important;
    }

    @media screen and (max-width: 920px){
        .procession-group{
            margin-top: calc(var(--baseline)*2.5);
            margin-bottom: calc(var(--baseline)*2.5);
            padding: 0 var(--unit);
            .procession-video{
                margin-top: calc(var(--baseline)*0.25)
            }
            .click-unmuted{
                right: 0;
                display: none;
            }
            figcaption{
                margin-top: 0px!important;
                margin-top: var(--baseline);
                padding-left: 0px;
                padding-right:  0px;
            }
        }
    }

    @media screen and (min-width: 920px){
        .procession-group{
            width: 120%;
            position: relative;
            left: -10%;
        }


        .procession-container{

       
            display: flex;
            align-items: center;
    
            .procession-img{
                margin-right: var(--baseline);
            }
    
            .procession-img, .procession-video { 
                width: 50%;
               
            }
    
            img, video{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    @media screen and (min-width: 1000px){
        .procession-group{
            width: 130%;
            position: relative;
            left: -15%;
        }
    }

    @media screen and (min-width: 1220px){
        .procession-group{
            width: 160%;
            position: relative;
            left: -30%;
        }
    }
    

   
}


#section-textes-list #anouk video{
    margin-bottom: 0;
    margin-top: calc(var(--baseline)*0.25);
    width: calc(100% - var(--unit)*0.5);
    left: calc(var(--unit)*0.25)
}