
@include for-size(2) {
    #section-textes-list #barbara header img {
        width: 181% !important;
        left: -66px;
    }
}
@include for-size(phone) {
    #page-textes #barbara header img {
        width: 181% !important;
        left: -66px;
    }
}




#barbara header img {
    mix-blend-mode: hard-light;
    opacity: 0.2;
}


#barbara figcaption{
    display: none;
}
