@include for-size(2) {
    #section-textes-list #clement header img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
@include for-size(phone) {
    #page-textes #clement header img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}


#clement header img {
    mix-blend-mode: hard-light;
    opacity: 0.4;

}