#page-textes #clemence header img{
        width: 100%;
    }

    #page-textes #mille-et-un-visages {
        img{
            max-height: none;
        }

        @media screen and (min-width: 1200px){
            width: 140%;
            position: relative;
            left: -20%;

        }
        
    }

#page-list-textes #mille-et-un-visages a:hover {
    opacity: 1;
    img{
        transform: scale(1.02);
        transition: transform .5s;
    }
   
}