#dimitri-1 header h1 {
    @include for-size(phonexs) {
        font-size: calc(var(--font-size-home)*1.38);
        line-height: calc(var(--baseline-home)*1.15);
    }

    @include for-size(phone) {
        font-size: calc(var(--font-size-home)*1.5);
        line-height: calc(var(--baseline-home)*1.4);
    }
}


#section-textes-list #dimitri-1 .gif-page-column{
    width: calc(100% + var(--unit))!important;
    left: calc(var(--unit)*-0.5);
    margin-bottom: var(--baseline);
}

/* ARTICLE COLUMN */
@include for-size(2) {
    #section-textes-list #dimitri-1 header video {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}


/* ARTICLE SINGLE */

#page-textes #dimitri-1 {

    @include for-size(phone) {
        header video {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center center !important;
        }
    }

    @include for-size(phone){
        .scrollyAlone p{
            margin: 0;
        }
    }

    @include for-size(desktop) {
        header figure video {
            object-position: 0 -20px;
        }
    }

    @media screen and (min-width: 1300px) {
        header h1 {

            // font-size: calc(var(--font-size)*4.6);
            small {
                font-size: calc(var(--font-size)*2);
                line-height: 1.5em;
            }
        }
    }

    @include for-size(no-aside){
        .scrollyAlone{
            margin: 0 auto;
            width: 500px!important;
            height: 413px!important;
        }
    }

    @include for-size(phone){
        .scrollyAlone{
            display: none;
        }
        .video-figure{
            width: calc(100% - var(--unit)*2);
            margin: 0 var(--unit) var(--baseline) var(--unit);
        
        }
    }
    @include for-size(desktop){
        @include for-size(phone){
            .gif-page-column{ 
                display: block; 
                margin-bottom: var(--baseline);
            }
        }
        @include for-size(desktop){
            .gif-page-column{ display: none; }
        
        }
    }

}