#dimitri-2 header h1 {
    @include for-size(phonexs) {
        font-size: calc(var(--font-size-home)*1.38);
        line-height: calc(var(--baseline-home)*1.15);
    }

    @include for-size(phone) {
        font-size: calc(var(--font-size-home)*1.5);
        line-height: calc(var(--baseline-home)*1.4);
    }
}

@media screen and (max-width: 330px){
    #page-textes #dimitri-2 header h1{
        font-size: calc(var(--font-size-home)*2.2);
    }
}


#page-textes #dimitri-2 .keyword{
    border-bottom: 2px dotted currentColor;
    cursor: pointer; 
    &:hover{
        opacity: 0.6;
    }
    &::before {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        background-image: url(/images/video-camera.svg);
        margin-left: 6px;
        margin-right: 6px;
        opacity: 0.6;
    }
}


/* ARTICLE COLUMN */
@include for-size(2) {
    #section-textes-list #dimitri-2 header video {
        height: 130%;
        width: 100%;
        object-fit: cover;
        object-position: center -10px;
    }
    
}

/* ARTICLE SINGLE */

@include for-size(phone) {
    #page-textes #dimitri-2 header video {
        height: 130%;
        width: 100%;
        object-fit: cover;
        object-position: center center!important;
    }
}


#page-textes #dimitri-2 {
    header {
        video {
            object-position: 0 -8px;
        }
        h1{
            @include for-size(desktop) {
                font-size: calc(var(--font-size)*3.1);
            }
            @media screen and (min-width: 1300px) {
                font-size: calc(var(--font-size)*4.3);
            }
        }
    }

    #aside-column{
        .group-video {
            width: 100%;
            cursor: pointer;

            &::before {
                content: "";
                display: block;
                width: 24px;
                height: 24px;
                background-image: url(/images/video-camera.svg);
                opacity: 0.6;
                position: absolute;
                left: -40px;
            }
        }

        video {
            width: 100%;
            margin-bottom: calc(var(--baseline)*0.2);
            object-fit: contain;
            object-position: 0 0;
        }
    }

    @include for-size(aside){
        #aside-column {
            width: calc(100vw - var(--width-content) - var(--unit)*3.5);
            max-width: 700px;
            position: sticky;
            top: calc(var(--height-header) + var(--unit)*1.5);
            margin-left: calc(var(--width-content) + var(--unit)*2);
            right: 0px;

            z-index: 9999;

           

        }
    }

    @include for-size(no-aside){
        .content{
            margin: 0 auto;
        }
        #aside-column {
            position: fixed;
            top: var(--height-header);
            height: calc(100vh - var(--height-header));
            width: 100vw;
            left: 0;
            z-index: 999999;
            background-color: rgba(0, 0, 0, 0.8);
            padding: calc(var(--unit)*2);
            display: none;

            .group-video{
                display: none;
                height: 100%!important;
                video{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: center center;
                }
            }

            .two-videos video{
                max-height: 48%;
                margin-bottom: calc(var(--unit)*0.5);
            }
        }

    }

    
}