

@include for-size(2) {
    #section-textes-list #jenny header img {
        object-fit: cover;
        height: 110%;
        width: 100%;
    }
}
@include for-size(phone) {
    #page-textes #jenny header img {
        object-fit: cover;
        height: 110%;
        width: 100%;
    }
}


#jenny .inline-elems .elem-texte{
        font-size: var(--font-size);
        line-height: var(--baseline);
        font-family: var(--font-title);
        opacity: 0.8;
        font-style: italic;

        p{ margin: 0;}
    }



#section-textes-list #jenny {
    .inline-elems{
        margin: calc(var(--baseline)*1.5) 0; 
    }
    .elem-texte{
        margin-top: calc(var(--baseline)*0.5);
    }
}
 

#page-textes #jenny{
    .inline-elems{
        

        .elem-texte{
            font-size: var(--font-size);
            line-height: var(--baseline);
            font-family: var(--font-title);
            opacity: 0.8;
            font-style: italic;

            p{ margin: 0;}
        }


        @media screen and (max-width: 580px) {
            max-width: 100%!important;
            margin: calc(var(--baseline)*1.5) auto;
            padding: 0 var(--unit);
          
        }

        @media screen and (max-width: 1000px) {

                max-width: 500px;
                margin-bottom: calc(var(--baseline)*1.5);
                margin: calc(var(--baseline)*1.5) auto;
                .elem-texte{
                    margin-top: calc(var(--baseline)*1);

                }
                &::after{
                    content:"";
                    display: block;
                    width: 100%;
                    margin-top: calc(var(--baseline)*1.5);
                    border-bottom: 1px solid currentColor;
                    opacity: 0.4;
                }
                &:first-of-type::before{
                    content:"";
                    display: block;
                    width: 100%;
                    margin-bottom: calc(var(--baseline)*1);

                    border-bottom: 1px solid currentColor;
                    opacity: 0.4;
                }
        }

        @media screen and (min-width: 1000px) {

            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin: calc(var(--baseline)*2) 0;
            width: 130%;
            position: relative;
            left: -15%;

            .elem-texte{
                width: 50%;
            }
            img{
                margin-right: var(--baseline);
                width: 50%;
            }
        }

        @media screen and (min-width: 1080px) {
            width: 140%;
            left: -20%;

        }
     
    }

}