@include for-size(2) {
    #section-textes-list #joseph-2 header img {
        width: 301% !important;
        left: -536px;
    }
}
@include for-size(phone) {
    #page-textes #joseph-2 header img {
        width: 301% !important;
        left: -145%;
    }
}
