
@include for-size(2) {
    #section-textes-list #joseph-1 header img {
        width: 219% !important;
        left: -373px;
        top: 0px;
    }

    #section-textes-list{
        .group:first-of-type .sticky-aside{
            margin-top: 0;
        }
    }
}
@include for-size(phone) {
    #page-textes #joseph-1 header img {
        width: 219% !important;
        left: -373px;
        top: 0px;
    }
}


#joseph-1 header img {
    mix-blend-mode: color-dodge;
}

#page-textes .trio {
    @include for-size(aside) {
    img {
            border: 2px solid black;
            margin-bottom: calc(var(--unit)*0.1)
        }
    }
}

#section-textes-list .trio{
    
    margin: calc(var(--baseline)*1.5) 0;
    
}


#joseph-1 figcaption { display: none;}