
#maxime header video {
    mix-blend-mode: color-dodge;
}

#page-textes #maxime{
    #bateau{
        @include for-size(aside){
            .gif-page-column{ display: none;}
            .scrollyAlone { max-width: 400px;}
        }
        @include for-size(no-aside){
            .scrollyAlone{ display: none; }
            img{ max-height: 80vh; }
        }
    }
  

}


#section-textes-list #maxime{
    @include for-size(phone){
        .gif-page-column{ 
            display: block; 
            margin-bottom: var(--baseline);
        }
    }
    @include for-size(desktop){
        .gif-page-column{ display: none; }
    
    }
}