#natalia-3 header img{
    mix-blend-mode: hard-light;
    opacity: 0.2;
}

#page-list-textes #natalia-3_fig-3 img{
    width: 100%!important;
    left: 0!important;
}

#page-textes #natalia-3{
    .group-aside figure { 
        margin-bottom: calc(var(--baseline)*1.5);
    }
    .container-article {
        max-width: 1460px;
    }

    @include for-size(desktop){
        .aside-center:first-of-type figure{ 
            width: calc(50% - var(--baseline));
            img{
                width: 100%;
                height: 466px;
                object-fit: cover;
            }
            &:first-of-type{
                margin-right: var(--baseline);
            }
        }
        .aside-center:first-of-type{
            display: flex;
            flex-direction: row;
        }
    }

    @media screen and (min-width: 739px) and (max-width: 820px){
        .aside-center {
            justify-content: center;
            figure{
                width: 280px;
                img{
                    
                    height: 410px;
                }
                &:first-of-type{
                    margin-right: calc(var(--unit)/2);
                }
            }
        }
    }

    @include for-size(aside){
        .aside-center{
            display: none!important;
        }
    }

    @include for-size(phone){
        .container-article figure{
            margin-left: calc(var(--unit)*1);
            margin-right: calc(var(--unit)*1);
            img{
                max-height: 75vh;
            }
            figcaption{
                display: block;
                max-width: 100%;
                text-align: center;
                margin: 0;
            }
        }
    }
}

