
/* COLUMNS */
#page-list-textes #natalia-2{
    .aside-center{
        margin: calc(var(--baseline)*1.5) 0
    }
    .aside-center img{
        margin: calc(var(--baseline)*0.5) 0;

    }
}

/* SINGLE*/
#page-textes #natalia-2{
    .group-aside img { 
        margin-bottom: calc(var(--baseline)*0.25);
    }
    .aside-center {
        margin: calc(var(--baseline)*1.5) 0;
        img{
            margin: calc(var(--baseline)*1) 0;
    
        }

    }
}

#natalia-2 .aside-center figcaption{
    display: none;
}

