




@include for-size(2) {

    #section-textes-list #natalia1 header img {
        width: 260%;
        left: -50%;
    }
}
@include for-size(phone) {
    #page-textes #natalia1 header img {
        width: 260%;
        left: -50%;
    }
}

    #page-textes #natalia1 .content img {
        max-height: 60vh;
        object-fit: contain;
    }




#page-list-textes #natalia1{
    #ville-fixed { display: none; }
}


.article-single #ville-fixed{

    position: fixed;
    bottom: -10px;
    width: 100vw;
    z-index: 999;
    left: 0;

    div{
        position: absolute;
        bottom: 0;
        display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: 1fr;
    }
    div img{
        width: 100%;
        // border: 1px solid black;
        grid-column: 1;
        grid-row: 1;
        position: relative;
    }

    .batiment{
        top: 100%;
        z-index: 10;
    }


    
    
}