
@include for-size(2) {
    #section-textes-list #remi header img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 70% 0;
    }
}
@include for-size(phone) {
    #page-textes #remi header img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 70% 0;
    }
}


#remi .scrollyAlone {
    max-width: 500px;
    margin: var(--baseline) auto;
    img{
        max-height: none!important;
    }
}


/* TEXTE EN COLONNE --------------------------------------------- */
#section-textes-list #remi{
    .scrollyAlone{
        display: none;
    }

    #remi_fig2{
        margin-top: calc(var(--baseline)*1) ;
        img{
        margin-top: calc(var(--baseline)*0.5);
        }
    }
    
    #remi_fig2 + .figcaption {
        margin-bottom: calc(var(--baseline)*1.5);
    }

    #remi_fig5 {
        margin-bottom: calc(var(--baseline) * -1.25);
    }

    .figure{
        margin-top: calc(var(--baseline)*1.5);
    }
    .figcaption{
        margin-bottom: calc(var(--baseline)*1.5);

    }
}


/* TEXTE EN PAGE SEULE --------------------------------------------- */

#page-textes #remi{

    .figcaption{ text-align: center; }

    #remi_fig2{
        margin-top: calc(var(--baseline)*1.5)
    }

    #remi_fig2 + .figcaption{
        padding-top: 0;
        margin-bottom: calc(var(--baseline)*1.5)
    }

    #remi_fig3, #remi_fig4{
        margin-top: calc(var(--baseline)*1.5)

    }


    #remi_fig4 + .figcaption{
        margin-bottom: calc(var(--baseline)*1.5)
    }

    // @include for-size(1) {
    //     .scrollyAlone{
    //         display: none;
    //     }
    // }

    @include for-size(phone){
        .gif-page-column{ 
            display: block; 
            margin-bottom: var(--baseline);
        }
    }
    @include for-size(desktop){
        .gif-page-column{ display: none; }
    
    }
  



}
