<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}fr-FR{{ end }}">
    {{- partial "head.html" . -}}
    <body id="page-home" >

      <section id="page-titre">

       

        

        <header>
          <h1>Héro·ïne·s</h1>
        </header>
        <header aria-hidden="true">
          <h1>Héro·ïne·s</h1>
        </header>
        <header aria-hidden="true">
          <h1>Héro·ïne·s</h1>
        </header>
        <header aria-hidden="true">
          <h1>Héro·ïne·s</h1>
        </header>
        <header aria-hidden="true">
          <h1>Héro·ïne·s</h1>
        </header> 
        <header aria-hidden="true">
          <h1>Héro·ïne·s</h1>
        </header> 
 
          

      

        <div id="grid-header">
          <div aria-hidden="true" class="elem elem1"></div>
          <div aria-hidden="true" class="elem elem2"></div>
          <div aria-hidden="true" class="elem elem3"></div>
          <div aria-hidden="true" class="elem elem4"></div>
          <div aria-hidden="true" class="elem elem5"></div>
          <div aria-hidden="true" class="elem elem6"></div>

          <h1>
            Héro·ïne·s
          </h1>
          <h2>
            <span>Repenser</span>
            <span>les héros<br></span> 
            <span>dans les œuvres<br></span> 
            <span>et pratiques</span> 
            <span>artistiques</span>
            </h2>
         

        <nav>
          <ul>
            <li><label for="input-introduction">Introduction</label></li>
            <li><a href="/textes">Les textes</a></li>
            <li><a href="/credits">Crédits</a></li>
          </ul>
        </nav>

        <div class="running-print">
            <p><a href="https://repenserlesheros.femis.fr/">repenserlesheros.femis.fr</a></p>
        </div>
        


        <aside>
          <p>
            Une publication du groupe de recherche de&nbsp;La&nbsp;Fémis, réalisée au&nbsp;sein du&nbsp;programme «&#8239;Sciences, Arts, Création, Recherche&#8239;» (SACRe,&nbsp;PSL).
          </p>
          <img id="logo-psl" src="uploads/logo-sacre.png">
        </aside>

        
        </div>


    </section>


      <input type="checkbox" id="input-introduction" hidden >
      <section id="section-introduction">
        <article id="introduction">
          <label for="input-introduction" id="introduction-close">✕</label>
          <div class="container-introduction">

            <h1>Héro·ïne·s</h1>
            <h2>
              Repenser les héros dans les œuvres et pratiques artistiques
              </h2>
         

            {{ with .Site.GetPage "section" "introduction" }}
            {{ range .Pages }}

            {{.Content }}

            {{ end }}
            {{ end }}

            <nav>
              <ul>
                <li><a href="/textes">Les textes</a></li>
                <li><a href="/credits">Crédits</a></li>
              </ul>
            </nav>
          
        </div>

      </article>
        
    </section>
        


      
    </body>
</html>



