/* 6 couleurs */
[data-order="1"],
[data-order="6"],
[data-order="11"],
[data-order="16"] {
    --bg-article: var(--color-2);
    --color-article: var(--color-2bis);
}

[data-order="2"],
[data-order="7"],
[data-order="12"],
[data-order="17"] {
    --bg-article: var(--color-3);
    --color-article: var(--color-3bis);
}

[data-order="3"],
[data-order="8"],
[data-order="13"],
[data-order="18"] {
    --bg-article: var(--color-4);
    --color-article: var(--color-1);
}

[data-order="4"],
[data-order="9"],
[data-order="14"],
[data-order="19"] {
    --bg-article: var(--color-6);
    --color-article: var(--color-1);

    header {
        color: var(--color-6) !important;
        

        figure {
            background-color: var(--color-5);
            background-color: var(--color-1);
        }

    } 
}



    [data-order="4"] .article-single header,
    [data-order="9"] .article-single header,
    [data-order="14"] .article-single header,
    [data-order="19"] .article-single header {
        background-color: var(--color-1);
        @media screen and (min-width: 1300px) {
            padding-bottom: calc(var(--unit)*1.5);
        }
    }

[data-order="5"],
[data-order="10"],
[data-order="15"],
[data-order="20"] {
    --bg-article: var(--color-5);
    --color-article: var(--color-5bis);
}


article header {

    h1 {
        font-weight: 400;
        small {
            display: block;
        }
    }

    .author {
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 1px;
    }


    @include for-size(1) {
        height: calc(100vw/var(--ratio));
        border-top: var(--home-borders);
       

        .full-screen{
            display: none;
        }
        figure {
            margin: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: calc(100vw/var(--ratio));
            overflow: hidden;
            
        }

        h1 {
            padding: var(--unit);
            font-size: calc(var(--font-size)*1.8);
            line-height: calc(var(--baseline)*1.5);
            z-index: 999;


            small {
                font-size: calc(var(--font-size)*1);
                line-height: calc(var(--baseline)*1);
                padding-top: calc(var(--baseline)*0.25);
            }
           
        }

        .author {
            font-size: calc(var(--font-size)*0.8);
            position: absolute;
            bottom: calc(var(--baseline)*0.5);
            left: var(--unit);
        }


    }

    @include for-size(phonexs) {
        h1 {
            padding: calc(var(--unit)*0.75);
            font-size: calc(var(--font-size)*1.5);
            line-height: calc(var(--baseline)*1.2);
            z-index: 999;


            small {
                font-size: calc(var(--font-size)*1);
                line-height: calc(var(--baseline)*1);
                padding-top: calc(var(--baseline)*0.25);
            }
           
        }

        .author {
            font-size: calc(var(--font-size)*0.7);
            position: absolute;
            bottom: calc(var(--baseline)*0.5);
            left: auto;
            right: calc(var(--unit)*0.5);

        }

    }
   

    img, video {

        width: 100%;
        filter: grayscale(100%);
        mix-blend-mode: soft-light;
    }

    

}


article .content {


    figure {
        margin: calc(var(--baseline)*1.5) 0;

        figcaption {
            font-size: 0.9rem;
            line-height: calc(var(--baseline)*0.75);
            font-family: var(--font-labeur);
            padding-top: calc(var(--baseline)*0.5);
            max-width: 60ch;
            width: 0 auto;
            margin: 0 auto;
        }
    }

    .figcaption{
        font-size: 0.9rem;
            line-height: calc(var(--baseline)*0.75)!important;
            font-family: var(--font-labeur)!important;
            padding-top: calc(var(--baseline)*0.5);
    }

    img {
        width: 100%;
    }



    blockquote {
        margin-bottom: calc(var(--baseline)*2);
        font-family: var(--font-title);
        opacity: 0.7;

        p {
            font-style: italic;
            margin-bottom: calc(var(--baseline)*0.5);
        }

        .name{
            font-family: var(--font-labeur);
            width: 24ch;
            height: 100%;
            display: block;
            font-style: normal;
            font-size: 0.8em;
            text-transform: uppercase;
            letter-spacing: 0.5px;
        }

    }

    p+blockquote {
        margin-top: calc(var(--baseline)*1.5);
    }

    .footer-blockquote {
        opacity: 0.7;
        font-style: normal;
        font-size: 0.9rem;
        line-height: calc(var(--baseline)*0.75);
        font-family: var(--font-labeur);
        padding-left: calc(var(--unit)*0.75);
        margin-top: calc(var(--baseline)*-1.75);
        margin-bottom: calc(var(--baseline)*1.75);

        &::before {
            position: absolute;
            left: 0;
            content: "— "
        }
    }

    .footer-blockquote + h1 {
        margin-top:  calc(var(--baseline)*1);
    }

    .fnt-call,
    .ftn-marker {
        letter-spacing: -0.2px;
        &::before {
            content: "|";
            padding-right: 1px;
        }

        &::after {
            content: "|";
            padding-left: 1px;
        }
    }


    .fnt-call {
        font-family: var(--font-labeur);
        font-style: normal;
        color: currentColor;
        font-size: 0.8em;
        position: relative;
        top: -0.2em;
        text-decoration: none;
        padding-left: 2px;
        border-bottom: none;

        &:hover {
            opacity: 0.4;
        }

    }

    hr {
        border: none;
    }

    
}


article .footnote-container::before, 
article aside h1 {
    font-family: var(--font-labeur);
    font-weight: 400;
    font-size: var(--font-size);
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: calc(var(--baseline)*0.5);
    margin-top: 0;
    border-bottom: 1px solid currentColor;
}

article .footnote-container {

    &::before { content: "Notes"; }

    p {
        margin-bottom: calc(var(--baseline-home)*0.5);
        padding-left: var(--unit);
        position: relative;
    }

    .ftn-marker {
        display: block;
        position: absolute;
        width: var(--unit);
        left: 0;
        font-size: calc(var(--font-size)*0.8);
        
    }

    .ftn-return {
        padding-left: 10px;

        a {
            text-decoration: none;
            color: currentColor;
            border-bottom: none;

            &:hover {
                opacity: 0.4;
            }
        }
    }
}

article aside {
 
    p {
        font-size: calc(var(--font-size-home)*0.8);
        line-height: calc(var(--baseline-home)*0.9);
    }
}






/* SPECIFIC ----------------------------------------------------- */



[data-order="1"] header{
    border-top: none;
}


video:focus{
    outline: none;
}

.video-figure{
    margin: calc(var(--baseline)*1) auto calc(var(--baseline)*2) auto;
}




