#page-textes {

    overflow-x: hidden;

    video {
        width: 100%;
    }


    .container-main {
        color: var(--color-article);
        background-color: var(--bg-article);
        width: 100vw;
    }

    .indications{ display: none; }



    .article-single {


        padding-top: var(--height-header);
        padding-bottom: 40vh;
        margin: 0 auto;


        .container-article {
            position: relative;
            max-width: 1700px;
            margin: 0 auto;
        }





        header {

            margin-bottom: calc(var(--baseline)*2);
            width: 100%;

            >a {
                display: block;
                width: 100%;
                height: 100%;
                color: currentColor;
                text-decoration: none;
                pointer-events: none;
                max-width: 1700px;
                margin: 0 auto;
            }

  


            h1 {


                font-weight: 400;
                color: currentColor;
                z-index: 99;

                @include for-size(phone) {
                    font-size: calc(var(--font-size-home)*2.4);
                    line-height: 1.2em;
                    padding: 0;

                    small {
                        display: block;
                        font-size: calc(var(--font-size)*1.4);
                        line-height: 1.4em;
                        // line-height: calc(var(--baseline)*1.75);
                        padding-top: calc(var(--baseline)*0.5);
                    }

                }


                @include for-size(desktop) {
                    position: absolute;
                    font-size: calc(var(--font-size)*4);
                    line-height: 1.2em;
                    margin-top: calc(var(--unit)*2);
                    margin-left: calc(var(--unit)*1.5);
                    margin-right: calc(var(--unit)*3);
                    padding: 0;
                    max-width: 600px;
                    animation: 1s ease-out headerArticle1300h1;


                    small {
                        display: block;
                        font-size: calc(var(--font-size)*1.8);
                        line-height: 1.2em;
                        // line-height: calc(var(--baseline)*1.75);
                        padding-top: calc(var(--baseline)*1);
                    }

                }

                @media screen and (min-width: 1054px) {
                    margin-left: calc(var(--unit)*3);

                }

                @media screen and (min-width: 1100px) {
                    margin-left: calc(var(--unit)*4);
                }

                @media screen and (min-width: 1200px) {
                    margin-left: calc(var(--unit)*6);
                }

                @media screen and (min-width: 1300px) {
                    font-size: calc(var(--font-size)*6);
                    margin-left: calc(var(--unit)*3);
                    margin-top: var(--unit);
                    max-width: 900px;

                    small {
                        display: block;
                        font-size: calc(var(--font-size)*3);
                        line-height: calc(var(--baseline)*2.5);
                        padding-top: calc(var(--baseline)*1);
                    }
                }



            }

            .author {
                text-transform: uppercase;
                font-weight: 500;
                letter-spacing: 1px;

                @include for-size(phone) {
                    font-size: calc(var(--font-size)*1);
                    margin-top: calc(var(--baseline)*0.5);
                    left: 0;
                    right: auto;

                }

                // 860px

                @include for-size(desktop) {
                    position: absolute;
                    font-size: calc(var(--font-size)*1.2);
                    margin-top: calc(var(--baseline)*1);
                    bottom: calc(var(--baseline)*1.5);
                    left: calc(var(--unit)*1.5);
                }

                @include for-size(2) {
                    right: calc(var(--unit)*1.5);
                    left: auto;
                    animation: 1s ease-out headerArticle1300Auth;
                }



                @media screen and (min-width: 1054px) {
                    right: calc(var(--unit)*3);
                    bottom: calc(var(--baseline)*1.5);
                }

                @media screen and (min-width: 1200px) {
                    right: calc(var(--unit)*6);
                }

                @media screen and (min-width: 1300px) {
                    font-size: calc(var(--font-size)*1.5);
                    bottom: calc(var(--baseline)*2);
                    right: calc(var(--unit)*3);
                }
            }

            .categories {
                display: none;
            }

            figure {

                margin: 0 auto;
                width: calc(100vw - var(--unit)*2);
                height: calc((100vw - var(--unit)*2)/var(--ratio));
                overflow: hidden;
                max-height: calc((900px - var(--unit)*2)/var(--ratio));
                max-width: 1000px;



                img, video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }


            }

            @include for-size(phone) {

                height: calc(var(--baseline)*16);
                padding: var(--unit);

                figure {
                    width: calc(100% + var(--unit)*2);
                    height: calc(100% + var(--unit)*2);
                    left: calc(var(--unit)*-1);
                    top: calc(var(--unit)*-1);
                }

            }

            @include for-size(desktop) {

                figure {
                    width: 100vw;
                    height: calc(100vw/var(--ratio));
                    left: 0;
                }

            }

            @media screen and (min-width: 1040px) {
                padding-top: calc(var(--baseline)*2);
                padding-bottom: calc(var(--baseline)*2);

                figure {
                    width: 100vw;
                    height: calc(100vw/var(--ratio));
                    left: calc(var(--unit)*-1);
                }
            }




            @include for-size(5) {
                height: calc(700px + var(--baseline)*2);
                max-height: calc(700px + var(--baseline)*2);

                .author {
                    left: calc(var(--unit)*3);
                    bottom: calc(var(--baseline)*3);
                }

                figure {
                    width: 1370px;
                    height: 640px;
                    overflow: hidden;
                    max-height: 10000px;
                    max-width: 10000px;
                }
            }



            .full-screen {
                display: none;
            }
        }



        .content {

            .column-only { display: none; }


            @include for-size(desktop){

                .figure-phone { display: none; }


                blockquote,
                .footer-blockquote {
                    margin-left: calc(var(--unit)*1.5);
                    margin-right: calc(var(--unit)*1.5);
                }
            }
           

            .footer-blockquote {
                font-size: calc(var(--font-size)*0.8);
            }

            hr {
                border: 1px solid var(--color-article);
                display: block;
                position: relative;
                top: var(--baseline);
                opacity: 0.4;
            }

            img {
                width: 100%;
                object-fit: contain;
            }

            @include for-size(phone){
                figure{
                    margin: calc(var(--baseline)*1) 0;
                }
                .figure-desktop{ display: none; }
            }


        }

        .parallax{
            width: 100%;
            position: relative;
    
            .layer1, .layer-bg{
                width: 100%!important
            }

            .layer-bg{
                position: absolute;
            
            }

            .layer1{
                position: relative;
            }

    
            img{
                max-height: none!important;
            }
        
        }



        .has-aside-content>.content {
            width: 100%;


            @include for-size(aside){
                .group {
                    width: 100%;
                    display: flex;
                    align-items: top;
                    justify-content: space-between;
                }
    
                .group-content {
                    width: calc(var(--width-content) - var(--unit)*6);
                    order: -1;
                }
    
                .group-aside {
                    width: calc(100% - var(--width-content) + var(--unit)*2.5);
                    margin-left: calc(var(--unit)*2.5);
                    margin-top: calc(var(--baseline)*1.5);
                    top: calc(var(--baseline)*-1.5);
    
                    figure {
                        margin: 0;
                    }
                }
                .aside-center{ display: none; }
            }

            @include for-size(no-aside){
                .group-content {
                    max-width: calc(var(--width-content) - var(--unit)*6);
                    margin: 0 auto
                }
                .group-aside{
                    max-width: calc(var(--width-content) - var(--unit)*6);
                    margin: calc(var(--baseline)*2) auto;
                }
                .aside-center{ display: block; }
                .group-only-aside { display: none; }
            }

            @include for-size(phone){
                .group-aside{
                    margin: calc(var(--baseline)*1) auto;
                }
            }
            
            

            .container-aside,
            .footnote-container {
                max-width: var(--width-content);
                margin: 0 auto;
            }


            .sticky-aside {
                position: sticky;
                top: calc(var(--height-header)*1 + var(--baseline));
            }

        
        }

        .center-content>.content {
            margin: 0 auto;
        }



        .footnote-container::before,
        aside h1 {
            font-size: calc(var(--font-size)*0.8) !important;
            margin-bottom: calc(var(--baseline)*0.5);
            margin-top: calc(var(--baseline)*3);
        }

        .footnote-container::before {
            margin-bottom: calc(var(--baseline)*1);
        }

        .footnote-container {
            p {
                padding-left: calc(var(--unit)*2);
            }
        }

        .full-video {
            margin: calc(var(--baseline)*1.5) 0;
        }

        .full-video + .figcaption{
            margin-top: calc(var(--baseline)*-1.5);
            margin-bottom: calc(var(--baseline)*1.5);
        }

        @media screen and (min-width: 1040px) {
            .full-video {
                margin: calc(var(--baseline)*1.5) 0;
                width: calc(100% + var(--unit)*4);
                left: calc(var(--unit)*-2);
            }

            .smallscale {
                transform: scale(0.8);
            }
        }



        
            .click-unmuted {
                @include for-size(desktop){
                    width: 300px;
                    height: 300px;
                    z-index: 10;
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: calc(var(--font-size)*2);
                    color: white;
                    opacity: 0;
                    transition: opacity 1s;
                    cursor: pointer;
                }
                @include for-size(phone){
                    width: auto!important;
                    height: auto!important;
                    font-size: 0.8em;
                    font-style: italic;
                    padding-bottom: 0;

                        position: absolute;
                        right: var(--unit);
                        bottom: calc(var(--baseline)*-0.7);
                        width: 100vw;
                        padding:0;
                        opacity: 0.5!important;
                    
        
                }
                background: none;
                padding: var(--unit);
                border: none;
                outline: none;
                
            }
        

       
        


        @media screen and (min-width: 1200px) {

            .videoPlay {
                transition: transform 1s;
            }



        }

        @include for-size(desktop){

            .container-content, .container-aside {
                padding-left: calc(var(--unit)*3)!important;
                padding-right:  calc(var(--unit)*3)!important;
            }

        }

        @include for-size(phone){

            .container-content{
                padding-left: 0;
                padding-right: 0;

                p, h1, h2, h3, .figcaption, figcaption{
                    margin-left: calc(var(--unit)*1);
                    margin-right:  calc(var(--unit)*1);
                }
            }

            
            .container-aside, .footnote-container {
                padding-left: calc(var(--unit)*1)!important;
                padding-right:  calc(var(--unit)*1)!important;
            }

            .footnote-container p{
                margin-left: 0;
                margin-right: 0;
                padding-left: calc(var(--unit)*1.2);
            }

        }






    }

    #aside-column {
        height: 0;


      

    }




}



@-webkit-keyframes headerArticle1300h1 {
    from {
        transform: translate(calc(var(--unit)*4), calc(var(--unit)*1));
        opacity: 0;
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}


@-webkit-keyframes headerArticle1300Auth {
    from {
        transform: translate(calc(var(--unit)*-3), 0);
        opacity: 0;
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}



/* Responsive ------------------------------------------------------ */

@media screen and (min-width: 1200px) {
    #page-textes {
        --height-header-figure: 620px;


        .container-content,
        .container-aside {
            padding-left: calc(var(--unit)*3) !important;
            padding-right: calc(var(--unit)*3) !important;
        }

        


    }



}


@media screen and (min-width: 1420px) {
    #page-textes {
        --height-header-figure: 620px;
    }
}