body {


    @include for-size(1) {
        --nbr-art-screen: 1;
    }

    @include for-size(2) {
        --nbr-art-screen: 2;
    }

    @include for-size(3) {
        --nbr-art-screen: 3;
    }

    @include for-size(4) {
        --nbr-art-screen: 4;
    }

    @include for-size(5) {
        --nbr-art-screen: 5;
    }

    @include for-size(6) {
        --nbr-art-screen: 6;
    }
}


#page-list-textes{
    background-color: #cfcfcf;
    @include for-size(2) {
        overflow-y: hidden;
    }
    @include for-size(1) {
        overflow-y: scroll;
        overflow-x: hidden;
        width: 100vw;
    }
}
#section-textes-list {

    .link-article{
        display: block;
        width: calc(100% - 20px);
        height: 100vh;
        z-index: 999999;
        position: absolute;
        top:0;
        left: 0;
        @include for-size(1) {
            display: none;
            visibility: hidden;
        }
    }

    .link-article:hover + header {
    
        .full-screen{ 
            opacity: 0.7;
            transition: opacity .5s;
        }
        figure img, figure video {
            transform: scale(1.1);
            transition: transform .5s;
        }
    }
 

    .single-only{ display: none!important; }
    .figure-desktop { display: none; }


    margin-top: var(--height-header);
    background-color: #cfcfcf;

    @include for-size(2) {
        height: calc(100vh - var(--height-header));
        overflow: hidden;
        overflow-y: hidden;
        width: calc(var(--width-article)*var(--nbr-articles));

        display: flex;
        transform: translate(0);
        transition: .3s;

      }

      header img, header video{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .container-content{

        

        blockquote{
            margin-bottom: var(--baseline);
        }

        .footer-blockquote{
            margin-top: calc(var(--baseline)*-0.75);
            margin-bottom: calc(var(--baseline)*1.5);
        }

        h1{
            margin-top: calc(var(--baseline)*1);
        }

        figure, .figure {
            width: calc(100% + var(--unit)*1);
            left: calc(var(--unit)*-0.5);
        }
    
        figcaption {
            padding: calc(var(--unit)*0.5);
            padding-bottom: 0;
        }

        video{
            width: calc(100% + var(--unit)*1);
            left: calc(var(--unit)*-0.5);
            // margin-bottom:  calc(var(--unit)*1);
        }

        .full-video{
            margin: calc(var(--baseline)*1.5) 0;
        }

        

        .click-unmuted{
            display: none;
        }

        hr{
            border-top: 1px solid currentColor;
            opacity: 0.5;
            margin-top: calc(var(--baseline)*1.5);
        }

        .sticky-aside {
            margin: calc(var(--unit)*1) 0;

            img{
                width: calc(100% + var(--unit)*1);
                left: calc(var(--unit)*-0.5);
            }
        }

    } 








    .scrollyAlone {
        display: none;
    }

    .indications{
        font-size: calc(var(--font-size)*0.7);
        line-height: 1.4em;
        font-style: italic;
        margin-bottom: 0!important;
        a{
            text-decoration: none;
            border-bottom: none;
        }
        &::after, &::before{
            content: '';
            display: block;
            width: 100%;
            border-bottom: 1px solid currentColor;
            opacity: 0.3;
        }
        &::after{
            margin-top: calc(var(--baseline)*0.5);
        }
        &::before{
            margin-bottom: calc(var(--baseline)*0.5);
        }

        svg{
            width: 10px;
        }
        
    }





    article {

        background-color: var(--bg-article);
        color: var(--color-article);

        .button-full-screen{
            display: none;
            position: fixed;
            bottom: calc(var(--unit)*-2.5);
            z-index: 9999;
            width: calc(var(--width-article) - var(--unit)*5);
            margin-left: calc(var(--unit)*1.5);
            background-color: var(--bg-article);
            color: var(--color-article);
            outline: none;
            border: 2px solid var(--color-article);
            border-radius: 10px;
            opacity: 0.9;
            transition: transform .5s;
            transform: translate(0px, 0px);
            text-align: left;
            
            a{
                display: block;
                width: 100%;
                height: 100%;
                padding: calc(var(--unit)*0.5);
                text-decoration: none;
                color: currentColor;
                font-size: var(--font-size);
                svg{
                    width: 18px;
                    fill: var(--color-article);
                    position:absolute;
                    right: calc(var(--unit)*0.5);
                }
                
            }
            &:hover{
                a{
                    background-color: rgba(0, 0, 0, 0.15);
                }
            }
        }

        .button-visible{
            animation: transform .2s;
            transform: translate(0px, calc(var(--unit)*-3.5));
        }
       
        
        @include for-size(2) {
            padding: var(--unit);
            border-right: var(--home-borders);
            width: var(--width-article);
            overflow-y: scroll;
            overflow-x: hidden;
            padding-bottom: 30vh;
            .button-full-screen{
                display: block;
            }
        }
        
        @include for-size(1) {
            .content, aside {
                display: none;
            }
        }

       



        header {

            a {
                display: block;
                width: 100%;
                height: 100%;
                color: currentColor;
                text-decoration: none;
            }

            img, video{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            
           

            @include for-size(2) {
                height: calc(var(--baseline-home)*16);
                figure {
                    position: absolute;
                    top: calc(var(--unit)*-1);
                    width: calc(100% + var(--unit)*2);
                    height: 100%;
                    left: calc(var(--unit)*-1);
                    margin: 0;
                    overflow: hidden;
                }

                h1 {
                    font-size: calc(var(--font-size-home)*2.4);
                    line-height: calc(var(--baseline-home)*2);
                    line-height: 1.2em;
                    z-index: 999;
    
    
                    small {
                        font-size: calc(var(--font-size-home)*1.2);
                        line-height: calc(var(--baseline-home)*1.2);
                        padding-top: calc(var(--baseline-home)*0.5);
                        padding-bottom: calc(var(--baseline-home)*0.5);
                    }
                   
                }

                .author {
                    margin-top: calc(var(--baseline-home)*1);
                    font-size: calc(var(--font-size-home)*0.7);
                    position: absolute;
                    bottom: calc(var(--baseline-home)*2);
    
                }

                .full-screen{
                    width: 20px;
                    fill: white;
                    position: absolute;
                    bottom: calc(var(--baseline-home)*2);
                    right: 0;
                    opacity: 0;
                }
    
                

            }


            .categories {
                display: none;
            }

            

            
        }

    


        .footnote-container::before, 
        aside h1{
            font-size: calc(var(--font-size)*0.8);
            margin-bottom: calc(var(--baseline)*0.5);
            margin-top: calc(var(--baseline)*1.5);
        }


    }

    .container-aside aside{
        &::before{
            content: '';
            display: block;
            border-top: 1px solid currentColor;
            opacity: 0.5;
            margin-top: calc(var(--baseline)*1.5);
        }
    }





}





@include for-size(2) {
    #section-textes-list #mille-et-un-visages .container-article img {
        max-height: none;
        width: 240%;
        left: -80%;
    }
}

@include for-size(1) {
    #section-textes-list #mille-et-un-visages .container-article img {
        display: none;
        visibility: hidden;
    }
}