/* Article list + article single + credits */


article .content, #main-credits .content {

    p {
        margin-bottom: calc(var(--baseline)*1);
    }

    a {
        color: currentColor;
        text-decoration: none;
        border-bottom: 1px dotted currentColor;

        &:hover {
            opacity: 0.4;
        }
    }

    h1 {
        font-family: var(--font-labeur);
        font-weight: 400;
        font-size: calc(var(--font-size)*1);
        border-bottom: 1px solid currentColor;
        margin-top: calc(var(--baseline)*2);
        margin-bottom: calc(var(--baseline)*1);
        display: inline-block;
    }


}

/* Article single + credits */


.article-single .content, #main-credits .content{

    .container-content {
        padding-left: var(--unit);
        padding-right: var(--unit);
       
    }
    p {
        margin-bottom: var(--baseline);
    }
    h1, p{
        font-size: var(--font-size);
        line-height: var(--baseline);
    }

    @media screen and (min-width: 860px) {
        --width-content: 860px;
        width: var(--width-content);
        --font-size: 20px;
        --baseline: calc(var(--font-size)*1.6);
            
    }


    @media screen and (min-width: 1420px) {
        --width-content: 960px;
        width: var(--width-content);
        --font-size: 22px;
    }

}