@font-face {
    src: url('ClubLithographer-Italic.woff2') format("woff2"),
         url('ClubLithographer-Italic.woff') format("woff");
    font-family: 'Club Lithographer';
    font-style: normal;
    font-weight: 400;
    }
