
{{ $class := .Get `class` }} 
{{ $img := .Get `img` }} 

<figure class="{{ $class }}">
    <img class="single-only" src="/uploads/{{ $img }}.jpg" loading="lazy">
    <img class="column-only" src="/uploads/{{ $img }}_column.jpg" loading="lazy">
    <figcaption>{{ .Inner | markdownify }}</figcaption>
</figure>

